{% extends 'base.html.twig' %}

{% set titulo = "Panel de administración" %}
{% set descripcion = "" %}

{% block css %}

    <link href="{{ asset('css/sweetalert.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('plugins/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="padding-top:20px;">
                <h3 class="box-title m-b-0">{{ titulo }}</h3>
                <p class="text-mutedfont-13">{{ descripcion }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="white-box">
                <h3 class="box-title m-b-0">Data Table</h3>
                <p class="text-muted m-b-30">Data table example</p>
                <div class="table-responsive">
                    <div id="myTable_wrapper" class="dataTables_wrapper no-footer">

                        <table id="myTable" class="table table-striped dataTable no-footer" role="grid"
                               aria-describedby="myTable_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 226px;">Usuario
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 226px;">Cuil
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                                    aria-label="Start date: activate to sort column ascending" style="width: 174px;">
                                    Contacto
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending" style="width: 339px;">
                                    Diputado
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 170px;">
                                    Bloque
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                                    aria-label="Age: activate to sort column ascending" style="width: 94px;">
                                    Interbloque
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                                    aria-label="Salary: activate to sort column ascending" style="width: 139px;">
                                    Editar
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for extra in extras %}
                                {% if loop.index is odd %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{extra.apellido}}, {{extra.nombre}}</td>
                                        <td>{{ extra.cuil }}</td>
                                        <td>{{ extra.contacto }}</td>
                                        <td>{{ (extra.diputado is null) ? '-' : extra.diputado.apellido }}</td>
                                        <td>{{ (extra.bloque is null) ? '-' : extra.bloque.nombre }}</td>
                                        <td>{{ (extra.interbloque is null) ? '-' : extra.interbloque.nombre }}</td>
                                        <td>
                                            <button onclick="showModal('{{extra.cuil}}')" type="button" class="btn btn-success btn-circle">
                                                <i class="fa fa-list">

                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr role="row" class="even">
                                        <td class="sorting_1">{{extra.apellido}}, {{extra.nombre}}</td>
                                        <td>{{ extra.cuil }}</td>
                                        <td>{{ extra.contacto }}</td>
                                        <td>{{ (extra.diputado is null) ? '-' : extra.diputado.apellido }}</td>
                                        <td>{{ (extra.bloque is null) ? '-' : extra.bloque.nombre }}</td>
                                        <td>{{ (extra.interbloque is null) ? '-' : extra.interbloque.nombre }}</td>
                                        <td>
                                            <button onclick="showModal('{{extra.cuil}}')" type="button" class="btn btn-success btn-circle">
                                                <i class="fa fa-list">

                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- /.modal -->
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close modal-close-managed" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modificar datos de usuario</h4>
                </div>

                <div class="modal-body">

                    <input type="hidden" id="selected-cuil" name="selected-id" value="">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12">Diputado</label>
                                <div class="col-sm-12">
                                    <select id="select-diputado" class="form-control">
                                        <option value="-1" id="-1">Seleccione un diputado</option>
                                        {% for diputado in diputados %}
                                            <option value="{{ diputado.id }}" id="{{ diputado.id }}">{{ diputado.apellido }}, {{ diputado.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">Bloque</label>
                                <div class="col-sm-12">
                                    <select id="select-bloque" class="form-control">
                                        <option value="-1" id="-1">Seleccione un bloque</option>
                                        {% for bloque in bloques %}
                                            <option value="{{ bloque.id }}" id="{{ bloque.id }}">{{ bloque.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">Interbloque</label>
                                <div class="col-sm-12">
                                    <select id="select-interbloque" class="form-control">
                                        <option value="-1" id="-1">Seleccione un interbloque</option>
                                        {% for interbloque in interbloques %}
                                            <option value="{{ interbloque.id }}" id="{{ interbloque.id }}">{{ interbloque.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" onclick="updateUser()" class="btn btn-success waves-effect modal-close-managed" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-default waves-effect modal-close-managed" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

{% endblock %}

{% block js %}

    <script src="../plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>

    <script>

        function updateUser() {

            var cuil = $("#selected-cuil").val();
            var bloque = $("#select-bloque").val();
            var interbloque = $("#select-interbloque").val();
            var diputado = $("#select-diputado").val();
            //console.log("cuil: "+cuil+" bloque: "+bloque+" interbloque: "+interbloque+" diputado: "+diputado);

            if (cuil.trim() == "") {
                alert("Ingrese un cuil");
            } else {

                $.post("{{ path('ajax-update-user') }}", {"user-cuil": cuil,
                                                            "bloque-id":bloque,
                                                            "interbloque-id":interbloque,
                                                            "diputado-id":diputado})

                    .done(function (data) {

                        if (data.success) {


                            console.log(data);
                            window.location.reload();

                            return;
                           // $("#search-results").show();

                        } else {
                            console.log(data);
                            alert("error:al obtener datods del usuario, intente nuevamente mas tarde");
                        }
                    })

                    .fail(function () {
                        alert("ERROR");
                    });
            }
        }

    </script>

    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
            $(document).ready(function() {
                var table = $('#example').DataTable({
                    "columnDefs": {
                        "visible": false,
                        "targets": 2
                    },
                    "order": [
                        [0, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function(settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function(group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function() {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });

        function resetModal(){

            $("#selected-cuil").val("");
            $("#select-interbloque").val(-1);
            $("#select-bloque").val(-1);
            $("#select-diputado").val();
        }

        function showModal(cuil){
            resetModal();

            $("#selected-cuil").val(cuil);
            $("#select-interbloque").focus();
            //$("#responsive-modal").modal('show');
            $('#responsive-modal').modal({backdrop: 'static', keyboard: false})
        }

        $(document).ready(function(){
            $('#table-users').DataTable({
                /*"columnDefs": [ {
                    "orderable": false,
                    "targets": [3]
                }],*/
                "order": [
                    [0, 'asc']
                ],
                "displayLength": 10,
                "searching": true,
                "info": true,
                "lengthChange": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }

            });

        });

    </script>

{% endblock %}