<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('img/logo.ico')}}">
    <title>JGM </title>

    <link href="{{asset('bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <link href="{{asset('plugins/bower_components/toast-master/css/jquery.toast.css')}}" rel="stylesheet">
    <link href="{{asset('plugins/bower_components/morrisjs/morris.css')}}" rel="stylesheet">
    <link href="{{asset('plugins/bower_components/sweetalert/sweetalert.css')}}" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="{{asset('plugins/bower_components/datatables/jquery.dataTables.min.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/bower_components/datatables/buttons/datatable-buttons.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/bower_components/jquery-wizard-master/css/wizard.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css')}}">
    <link href="{{asset('css/animate.css')}}" rel="stylesheet">
    <link href="{{asset('css/style.css')}}" rel="stylesheet">
    <link href="{{asset('css/colors/default.css')}}" id="theme" rel="stylesheet">
    <link href="{{asset('plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('plugins/bower_components/timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">
    <link href="{{asset('plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
    <link href="{{asset('plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css')}}" rel="stylesheet">

    {% block css %}{% endblock %}
    
</head>

<body class="fix-header">

    {% set current_path = app.request.get('_route') %}
    
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part xs-hidden">
                    <a class="logo" href="">
                        <b>
                        </b>
                        <span class="hidden-xs">
                        </span>
                    </a>
                </div>

                <ul class="nav navbar-top-links navbar-left">
                        <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
                        {% if current_path != '_admin_panel' %}

                            {% if estado_informe == 'planificado' %}
                                <li>
                                    <a>
                                        Informe N°

                                        <strong>
                                            {{ informe.numero }}
                                        </strong>del JGM al Congreso - (Comienza el
                                        <strong>
                                            {{ informe.fechaInicio.timestamp|date('d/m/Y') }}
                                        </strong> a las
                                        <strong>
                                            {{ informe.fechaInicio.timestamp|date('H:i') }}
                                        </strong>)
                                    </a>
                                </li>
                            {% endif %}

                            {% if estado_informe == 'activo' %}
                                <li>
                                    <a>
                                        Informe N°

                                        <strong>
                                            {{ informe.numero }}
                                        </strong>del JGM al Congreso - (Habilitado hasta el
                                        <strong>
                                                {{ informe.fechaFin.timestamp|date('d/m/Y') }}
                                          </strong> a las
                                        <strong>
                                                {{ informe.fechaFin.timestamp|date('H:i') }}
                                        </strong>)
                                        {% if user.extra.bloque.cierreBloque is defined and user.extra.bloque.cierreBloque is not null and user.role == ROL_RESPONSABLE_BLOQUE %}
                                            Fecha elegida para cierre de bloque:
                                            <strong>
                                                {{ user.extra.bloque.cierreBloque.fechaCierre.timestamp|date('d/m/Y H:i') }}
                                            </strong>)
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}

                            {% if estado_informe == 'validando' %}
                                <li>
                                    <a>
                                        <strong>
                                            El informe <strong>N&deg; {{ informe.numero }}</strong> está en etapa de validación de requerimientos.
                                        </strong>
                                    </a>
                                </li>
                            {% endif %}

                            {% if estado_informe == 'finalizado' %}
                                <li>
                                    <a>
                                        <strong>
                                            El informe no se encuentra abierto.
                                        </strong>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}

                    </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                            Bienvenido 
                            <b class="hidden-xs">
                                    {{ user.apellido }}, {{ user.nombre }}
                            </b>!
                            <i class="fa fa-gears"></i>
                            <span class="caret"></span> 
                        </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li><a href="{{path('_log_out')}}"><i class="fa fa-power-off"></i> Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu"></span></h3> </div>
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <img src="{{asset('img/logo_med_blanco.png')}}" alt="home"  />
                    </div>
                </div>
                <ul class="nav" id="side-menu">
                    
                    {% if estado_informe == 'activo' %}
                        <li class="devider"></li>
                        <li class="text-center">
                            <span class="hide-menu">Informe actual : <b>{{ informe.numero }}</b></span>
                            <br><span><b>{{ estado_informe }}</b></span>
                        </li>
                    {% endif %}
                        <li class="text-center">
                            <span class="hide-menu">Rol : <b>{{ user.role }}</b></span>
                        </li>
                    <li class="devider"></li>

                    {% if user.role == ROL_DIRECCION_SECRETARIA %}
                        <li><a href="{{path('_informe')}}" class="waves-effect"><i class="mdi mdi-book-open-page-variant fa-fw"></i> <span class="hide-menu">Informe</span></a></li>
                        <li><a href="{{path('_validar_requerimientos')}}" class="waves-effect"><i class="mdi mdi-check-all fa-fw"></i> <span class="hide-menu">Validar requerimientos</span></a></li>
                    {% elseif user.role == ROL_ADMIN %}
                        <li><a href="{{path('_admin_panel')}}" class="waves-effect"><i class="mdi mdi-book-open-page-variant fa-fw"></i> <span class="hide-menu">Administrar usuarios</span></a></li>
                    {% elseif user.role == ROL_DIPUTADO or user.role == ROL_ASESOR %}

                        <li> <a href="#" class="waves-effect"><i class="fa fa-book fa-fw" data-icon="v"></i><span class="hide-menu"> Informe actual <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                {# <li> <a href="{{path('_informacion_general')}}"><i class="fa fa-info-circle fa-fw"></i></i><span class="hide-menu">Información general</span></a> </li> #}
                                <li> <a href="{{path('_crear_requerimiento')}}"><i class="fa fa-plus-circle fa-fw"></i><span class="hide-menu">Nuevo requerimiento</span></a> </li>
                                <li> <a href="{{path('_listar_requerimiento_actual')}}"><i class="fa fa-user fa-fw"></i><span class="hide-menu">Mis requerimientos</span></a> </li>
                                <li> <a href="{{path('_listar_requerimiento_actual_bloque')}}"><i class="fa fa-users fa-fw"></i><span class="hide-menu">Requerimientos del bloque</span></a> </li>
                                {# <li> <a href="{{path('_estado_envio')}}"><i class="fa fa-send fa-fw"></i><span class="hide-menu">Estado del envío</span></a> </li> #}
                            </ul>
                        </li>
                     {% elseif user.role == ROL_PERSONAL_PARLAMENTARIO %}

                        <li> <a href="#" class="waves-effect"><i class="fa fa-book fa-fw" data-icon="v"></i><span class="hide-menu"> Informe actual <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                {# <li> <a href="{{path('_informacion_general')}}"><i class="fa fa-info-circle fa-fw"></i></i><span class="hide-menu">Información general</span></a> </li> #}
                                <li> <a href="{{path('_crear_requerimiento')}}"><i class="fa fa-plus-circle fa-fw"></i><span class="hide-menu">Nuevo requerimiento</span></a> </li>
                                <li> <a href="{{path('_listar_requerimiento_actual')}}"><i class="fa fa-user fa-fw"></i><span class="hide-menu">Mis requerimientos</span></a> </li>
                                <li> <a href="{{path('_listar_requerimiento_actual_bloque')}}"><i class="fa fa-users fa-fw"></i><span class="hide-menu">Requerimientos del bloque</span></a> </li>
                                {# <li> <a href="{{path('_estado_envio')}}"><i class="fa fa-send fa-fw"></i><span class="hide-menu">Estado del envío</span></a> </li> #}
                            </ul>
                        </li>
                    {% elseif user.role == ROL_RESPONSABLE_BLOQUE%}

                        <li> <a href="#" class="waves-effect"><i class="fa fa-book fa-fw" data-icon="v"></i><span class="hide-menu"> Informe actual <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="{{path('_crear_requerimiento')}}"><i class="fa fa-plus-circle fa-fw"></i><span class="hide-menu">Nuevo requerimiento</span></a> </li>
                                <li> <a href="{{path('_listar_requerimiento_actual_bloque')}}"><i class="fa fa-eye fa-fw"></i><span class="hide-menu">Ver/Modificar requerimientos</span></a> </li>
                                <li> <a href="{{path('_set_fecha_fin')}}"><i class="fa fa-clock-o fa-fw"></i><span class="hide-menu">Fijar momento de finalización de carga de requerimientos</span></a> </li>
                                {% if user.extra.interbloque is not defined or user.extra.interbloque is null %}
                                    <li> <a href="{{path('_enviar_requerimientos')}}"><i class="fa fa-file-pdf-o fa-fw"></i><span class="hide-menu">Enviar requerimientos</span></a> </li>
                                {% endif %}
                                
                            </ul>
                        </li>

                        {% if GET_ENV("JGM_DEBUG") == "TRUE" %}
                            <li> <a href="#" class="waves-effect"><i class="fa fa-clock-o fa-fw" data-icon="v"></i><span class="hide-menu">Historial de informes<span class="fa arrow"></span> </span></a>
                                <ul class="nav nav-second-level">
                                    {# <li> <a href="{{path('_informacion_general')}}"><i class="fa fa-info-circle fa-fw"></i></i><span class="hide-menu">Información general</span></a> </li> #}
                                    {% if historial_informes is defined and historial_informes is not null %}

                                        {% for informe in historial_informes %}
                                            <li> <a href="{{ path('_listar_historial_informe', {'numero': informe.numero}) }}"><i class="fa fa-genderless fa-fw"></i><span class="hide-menu">{{ informe.numero }}</span></a> </li>
                                        {% endfor %}

                                    {% endif %}
                                    {# <li> <a href="{{path('_estado_envio')}}"><i class="fa fa-send fa-fw"></i><span class="hide-menu">Estado del envío</span></a> </li> #}
                                </ul>
                            </li>
                        {% endif %}

                    {% elseif user.role == ROL_RESPONSABLE_INTERBLOQUE %}

                        <li> <a href="#" class="waves-effect"><i class="fa fa-book fa-fw" data-icon="v"></i><span class="hide-menu"> Informe actual <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                {#<li> <a href="{{path('_crear_requerimiento')}}"><i class="fa fa-plus-circle fa-fw"></i><span class="hide-menu">Nuevo requerimiento</span></a> </li>#}
                                <li> <a href="{{path('_listar_requerimiento_actual_interbloque')}}"><i class="fa fa-eye fa-fw"></i><span class="hide-menu">Ver/Modificar requerimientos</span></a> </li>
                                {#<li> <a href="{{path('_set_fecha_fin_interbloque')}}"><i class="fa fa-clock-o fa-fw"></i><span class="hide-menu">Fijar momento de finalización de carga de requerimientos</span></a> </li>#}
                                <li> <a href="{{path('_enviar_requerimientos')}}"><i class="fa fa-file-pdf-o fa-fw"></i><span class="hide-menu">Enviar requerimientos</span></a> </li>
                            </ul>
                        </li>

                    {%endif%}

                    <li><a href="{{path('_normativa')}}" class="waves-effect"><i class="mdi mdi-book-open-page-variant fa-fw"></i> <span class="hide-menu">Normativa</span></a></li>
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-help-circle fa-fw" data-icon="v"></i><span class="hide-menu">Ayuda<span class="fa arrow"></span> </span></a>
                        <ul class="nav nav-second-level">
                            <li> <a data-toggle="modal" href="#md-contacto"><i class="mdi mdi-phone fa-fw"></i><span class="hide-menu">Soporte técnico<interbloque></interbloque></span></a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid" style="padding:20px">

                {% block welcome %}{% endblock %}
                

                {#
                {% if result is defined and result is not null %}
                        {% if result.success is defined and result.success is not null and result.success == 1 %}
                                <div class="col-lg-12 col-sm-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading"> Operación exitosa
                                            <div class="pull-right"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="#" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                                        </div>
                                        <div class="panel-wrapper collapse in" aria-expanded="true">
                                            <div class="panel-body">
                                                <p> {{ result.mensaje }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% else %}
                        {% if result.success is defined and result.succes is not null and result.success == 2 %}

                            <div class="col-lg-12 col-sm-12">
                                <div class="panel panel-danger">
                                    <div class="panel-heading"> Operación error
                                        <div class="pull-right"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="#" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                                    </div>
                                    <div class="panel-wrapper collapse in" aria-expanded="true">
                                        <div class="panel-body">
                                            <p> {{ result.mensaje }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                #}

                {% block content %}{% endblock %}
            </div>
            <!-- <footer class="footer text-center"> Dirección de Sistemas Electrónicos - Interno 3471 </footer> -->
        </div>
        <!-- End Page Content -->
    </div>
    
    <div class="modal fade"  id="md-contacto" style="margin-top:150px">
        <div class="modal-dialog" role="document" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Contacto</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <center>
                                <span >Dirección Sistemas Electrónicos</span>
                            </center>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <center>
                                <span >Subdirección Técnica e Informática del Recinto</span>
                            </center>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <i class="mdi mdi-phone"></i>
                            <span style="margin-left: 10px">6075-3471 / 3483 </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <i class="mdi mdi-mail-ru"></i>
                            <span style="margin-left: 10px">soporte.dse@hcdn.gob.ar</span>
                        </div>
                        <div class="col-md-2"></div>
    
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- All Jquery -->
    <script src="{{asset('plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/horizontal-timeline/js/horizontal-timeline.js')}}"></script>
    <script src="{{asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
    <script src="{{asset('js/jquery.slimscroll.js')}}"></script>
    <script src="{{asset('js/waves.js')}}"></script>
    <script src="{{asset('plugins/bower_components/waypoints/lib/jquery.waypoints.js')}}"></script>
    <script src="{{asset('plugins/bower_components/counterup/jquery.counterup.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/chartist-js/dist/chartist.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/moment/moment.js')}}"></script>
    <script src="{{asset('plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/calendar/dist/fullcalendar.js')}}"></script>
    <script src="{{asset('plugins/bower_components/sweetalert/sweetalert.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js')}}"></script>
    <script src="{{asset('js/custom.min.js')}}"></script>
    <script src="{{asset('js/dashboard1.js')}}"></script>
    <script src="{{asset('plugins/bower_components/toast-master/js/jquery.toast.js')}}"></script>
    <script src="{{asset('plugins/bower_components/styleswitcher/jQuery.style.switcher.js')}}"></script>
    <script src="{{asset('plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/timepicker/bootstrap-timepicker.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
    <script src="{{asset('plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>

    {% block js %}{% endblock %}
    <script>
    
        function simpleSwal(titulo,mensaje,icono){
            swal(titulo,mensaje,icono);
        }
        
    </script>
</body>

</html>
