<!DOCTYPE html>
    {% set mHost = app.request.httpHost %}
<html lang="es">
<!-- mHost -->
<head>
    <!-- meta section -->
    <title>{% block titulo %}{{ 'title.base'|trans }}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <meta charset="UTF-8" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" >
    <!-- ./meta section -->

    <!-- css styles -->
    {#<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ mHost ~ asset('bundles/app/css/default-blue-white.css') }}" id="dev-css">#}
    <!-- ./css styles -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ mHost ~ asset('bundles/app/css/sweetalert.css') }}">
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ mHost ~ asset('bundles/app/css/dev-other/dev-ie-fix.css') }}">
    <![endif]-->
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/toast-master/css/jquery.toast.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/morrisjs/morris.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/sweetalert/sweetalert.css')}}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/datatables/jquery.dataTables.min.css')}}">
    <link rel="stylesheet" href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/datatables/buttons/datatable-buttons.css')}}">
    <link rel="stylesheet" href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/jquery-wizard-master/css/wizard.css')}}">
    <link rel="stylesheet" href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css')}}">
   {#
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('css/animate.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('css/style.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('css/colors/default.css')}}" id="theme" rel="stylesheet">
   #}
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
    <link href="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css')}}" rel="stylesheet">

    <!-- javascripts -->
    {#<script type="text/javascript" src="{{ app.request.scheme ~'://' ~ mHost ~ asset('bundles/app/js/plugins/modernizr/modernizr.js') }}"></script>#}
    <!-- ./javascripts -->

    <style>
        .dev-page{visibility: hidden;}

    </style>
    {% block css %}

    {% endblock %}


</head>
<body style="background-color: white;">

{% block content %}

{% endblock %}

<!-- All Jquery -->
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/horizontal-timeline/js/horizontal-timeline.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('js/jquery.slimscroll.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('js/waves.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/waypoints/lib/jquery.waypoints.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/counterup/jquery.counterup.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/chartist-js/dist/chartist.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/moment/moment.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/calendar/dist/fullcalendar.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/sweetalert/sweetalert.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('js/custom.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('js/dashboard1.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/toast-master/js/jquery.toast.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/styleswitcher/jQuery.style.switcher.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/timepicker/bootstrap-timepicker.min.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<script src="{{app.request.scheme ~'://' ~ mHost ~ asset('plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
{#
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
#}

</body>
</html>
