{% extends 'base.html.twig' %}

{% set titulo = "Nuevo requerimiento" %}
{% set descripcion = "Aqui es donde podra redactar sus preguntas" %}

{% block css%}
    <link rel="stylesheet" href="{{asset('css/jgm.css')}}">
    <style>
        
        td{
            padding:10px !important;
        }
    </style>
{% endblock %}

{% block content%}

    {#{% block mensaje %}
    {% endblock %}#}

    {% if estado_informe == 'cerrado' %}
        
        <div class="panel panel-inverse">
            <div class="panel-heading"> El informe no se encuentra abierto.
                <div class="pull-right"></div>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                <div class="panel-body">
                    <p>Esta opción solo se encuentra habilitada mientras el informe se encuentre abierto.</p>
                </div>
            </div>
        </div>
    {% elseif estado_informe == 'validando' %}
        <div class="panel panel-inverse">
            <div class="panel-heading"> El informe está en etapa de validación de requerimientos.
                <div class="pull-right"></div>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                <div class="panel-body">
                    <p>Esta opción no se encuentra habilitada.</p>
                </div>
            </div>
        </div>
    {% elseif estado_informe == 'planificado' %}
        <div class="panel panel-inverse">
            <div class="panel-heading"> El informe aún no se encuentra abierto.
                <div class="pull-right"></div>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                <div class="panel-body">
                    <p>Esta opción solo se encuentra habilitada mientras el informe se encuentre abierto.</p>
                </div>
            </div>
        </div>
    {% elseif estado_informe == 'activo' %}
    
        <div class="row">
            <div class="col-md-12">
                <div class="white-box" style="padding-top:20px;">
                    <h3 class="box-title m-b-0">{{titulo}}</h3>
                    <p class="text-mutedfont-13">{{descripcion}}</p>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group wiz-aco" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title" style="font-weight: bold;"> 
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. Introducción
                              </a>
                            </h4> 
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="alert alert-info" role="info">
                                    <strong>Atención: </strong> Escriba una breve introducción&nbsp;sobre el tema general del requerimiento a solicitar. Recuerde <b><u>NO incluir preguntas</u></b> dentro de la misma<b></b>:
                                </div>
                                <textarea id="txt-introduction" class="form-control" required="true" style="margin: 0px 3.25px 0px 0px; width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title" style="font-weight: bold;">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Requerimientos
                              </a>
                            </h4> 
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <h5 style="font-size:17px">Para ingresar requerimientos <b>sobre la temática descripta en la introducción</b> pulse el siguiente botón: <button id="btn-add-question" onclick="prepareModal('add')" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-pregunta" style="margin-left:15px"><i class="fa fa-plus"></i> Agregar</button></h5>
                                <div class="table-responsive" style="overflow:auto; max-height:500px">
                                    <table id="tabla-requerimientos" class="table table-hover">
                                        <thead>
                                            <tr id="table-requerimientos">
                                                <th style="width: 70%">Requerimientos</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="questions-container">
                                            <tr id="question-model" question="" organ="-1" style="display: none;" model="1">
                                                <td class="row-question-text"></td>
                                                <td style="text-align: right;">
                                                    <button class="btn btn-success row-edit-question" onclick="showEditPregunta(this);">
                                                        <i class="fa fa-1x fa-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-remove" onclick="removePreguntaNueva(this)">
                                                        <i class="fa fa-1x fa-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title" style="font-weight: bold;">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. Quién hace el requerimiento
                              </a>
                            </h4> 
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    
                            <div class="panel-body col-md-{% if user.role == ROL_DIPUTADO or user.role == ROL_ASESOR %}12{% endif %}6">
                                <h4>El requerimiento será asociado al diputado:</h4>
                            <select {% if user.role == ROL_DIPUTADO or user.role == ROL_ASESOR %} disabled {% endif %} id="sel-diputado" class="form-control" data-dropup-auto="false">
                                <option value="-1">Seleccione un diputado</option>
                                {%for d in diputados%}
                                    {% if (user.cuil == d.cuil or (user.extra.diputado is defined and user.extra.diputado is not null 
                                                                    and user.extra.diputado.cuil == d.cuil ) ) 
                                                                    and (user.role == ROL_DIPUTADO or user.role == ROL_ASESOR) %}
                                        <option selected value="{{d.id}}">{{d.apellido}}, {{d.nombre}}</option>
                                    {% else %}
                                        <option value="{{d.id}}">{{d.apellido}}, {{d.nombre}}</option>
                                    {% endif %}
                                {%endfor%}
                            </select>
                            </div>
                            {% if user.role != ROL_DIPUTADO and user.role != ROL_ASESOR %}
                                <div class="panel-body col-md-6">
                                    <h4>El requerimiento será asociado al bloque:</h4>
                                    <select disabled id="sel-bloque" class="form-control" data-dropup-auto="false">
                                        <option value="-1">Seleccione un bloque</option>
                                        {%for b in bloques%}
                                            <option {% if b.id == user.extra.bloque.id %} selected {% endif %}value="{{b.id}}">{{b.nombre}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            {% endif %}
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    <!-- MODALS -->
    <div id="modal-pregunta" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Agregar pregunta</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>Atención: </strong> Por favor, recuerde que su pregunta no puede contener incisos ni superar los <strong>500</strong> caracteres. En caso de excederlos, deberá reformular la misma y explayarse sobre la temática en la introducción.
                    </div>
                    <h5>Pregunta:</h5>
                    <textarea id="pregunta-modal" style="resize: vertical;" class="form-control" rows="10" name="textarea-modal-pregunta"></textarea>
                    <span id='remainingC'></span>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                    <button id="button-guardar" type="button" class="btn btn-success waves-effect waves-light" onclick="addPregunta()">Guardar</button>
                    <button id="button-modificar" type="button" class="btn btn-success waves-effect waves-light" style="display: none" onclick="editPregunta()">Modificar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- sample modal content -->
    <div id="modal-ver-pregunta" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="modal-ver-pregunta-titulo" class="modal-title" id="myModalLabel">Detalle de pregunta</h4> </div>
                <div class="modal-body">
                    <p style="word-wrap: break-word;" id="modal-ver-pregunta-texto"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--
    Form to Send
    -->
    <form id="frm-send" action="{{path('saveRequerimiento')}}" method="POST">
        <input type="hidden" name="introduccion" id="input-introduction" value="">
        <input type="hidden" name="diputado" id="input-diputado" value="-1">
        <input type="hidden" name="bloque" id="input-bloque" value="-1">
        <input type="hidden" name="preguntas" id="input-preguntas" value="-1">
    </form>

    {% endblock %}{% block js%}
    <script src="{{asset('plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js')}}"></script>

<script>
    var userCuil = "{{ user.cuil }}";

    //local storage para introduccion
    if (localStorage.getItem("introduccion"+userCuil) !== null){
        $('#txt-introduction').val(localStorage.getItem("introduccion"+userCuil));
    }

    $( document ).ready(function() {
        $('#txt-introduction').focusout(function () {
            localStorage.setItem('introduccion'+userCuil, $(this).val());
        });


    });

    var preguntas = [];
    //localStorage.clear();


    if (localStorage.getItem("preguntas"+userCuil) !== null){
        preguntas = JSON.parse(localStorage.getItem("preguntas"+userCuil));
        let i = 0;
        for(i;i<preguntas.length;i++){
            q = $("#question-model").clone();
            q.attr('model', "0");
            q.attr('question', preguntas[i]);

            q.find(".btn-remove").removeAttr('onclick');
            q.find(".btn-remove").attr('onclick', 'removePreguntaStorage(this)');

            $("#questions-container").append(q);
            q.show();

            if(preguntas[i].length>100){
                q.find(".row-question-text").html(preguntas[i].substring(0, 100) + ' (<a href="#" style="color: blue !important;" onClick=\'showPregunta(this);\'>Ver más</a>)');
            }else{
                q.find(".row-question-text").html(preguntas[i]);
            }
        }

    }

    if (localStorage.getItem("asosiación"+userCuil) !== null){
        console.log("Seteo intro anterior");
    }

    var selectedRow = null;
    var editandoPregunta = 0;

    $( "#sel-diputado" ).change(function() {
        if(! $('#sel-bloque').is(':disabled')){
            $('#sel-bloque').val(-1);   
        }
    });

    $( "#sel-bloque" ).change(function() {
        if(! $('#sel-diputado').is(':disabled')){
            $('#sel-diputado').val(-1);   
        }
    });

    function prepareModal(param){
        if(param === 'add'){
            $('#button-modificar').hide();
            $('#button-guardar').show();
        }

        if(param === 'modif'){
            $('#button-modificar').show();
            $('#button-guardar').hide();
        }

        if(param === 'ver_mas'){
            $('#button-modificar').hide();
            $('#button-guardar').hide();
        }

    }

    function removePregunta(row){

        var p = row.parentNode.parentNode;
        alert($(row).html());
        var text = p.attr("question");

        preguntas = JSON.parse(localStorage.getItem("preguntas"+userCuil));
        let i = 0;
        for(i;i<preguntas.length;i++){
            if(text == preguntas[i]){
                preguntas.splice(i, 1);
                break;
            }
        }

        localStorage.setItem('preguntas'+userCuil, JSON.stringify(preguntas));

        p.parentNode.removeChild(p);

    }




    function showEditPregunta(button){

        var row = $(button).closest('tr');
        var pregunta = row.attr("question");
        selectedRow = row.index();

        prepareModal('modif')
        $('#pregunta-modal').val(pregunta);

        $("#modal-pregunta").modal('show');
        $('#pregunta-modal').focus();

    }

    function editPregunta(){

        editandoPregunta = 0;

        var pregunta = $("#pregunta-modal").val();

        if(!pregunta){
            swal("Debe ingresar al menos una pregunta.");
        }else {

            var newText = $('#pregunta-modal').val();
            var row = $('#tabla-requerimientos tbody tr:eq(' + selectedRow + ')');
            var text = row.find('.row-question-text');
            var oldText = row.attr("question");
            row.attr("question", newText);

            if (newText.length > 100) {
                text.html(newText.substring(0, 100) + ' (<a href="#" style="color: blue !important;" onClick=\'showPregunta(this);\'>Ver más</a>)');
            } else {
                text.html(newText);
            }

            preguntas = JSON.parse(localStorage.getItem("preguntas" + userCuil));
            let i = 0;
            for (i; i < preguntas.length; i++) {
                if (oldText == preguntas[i]) {
                    preguntas[i] = newText;
                    break;
                }
            }

            localStorage.setItem('preguntas' + userCuil, JSON.stringify(preguntas));


            $("#modal-pregunta").modal('hide');
            selectedRow = null;
        }

    }

    function showPregunta(button){

        var row = $(button).closest('tr');
        var pregunta = row.attr("question");
        selectedRow = row.index();

        $("#modal-ver-pregunta-texto").text(pregunta);

        $("#modal-ver-pregunta").modal('show');

    }

    $('#accordion').wizard({
        step: '[data-toggle="collapse"]',
        buttonsAppendTo: '.panel-collapse',
        templates: {
            buttons: function() {
                var options = this.options;
                return '<div class="panel-footer"><ul class="pager">' + '<li class="previous">' + '<a  href="#' + this.id + '" data-wizard="back" role="button">Atras</a>' + '</li>' + '<li class="next">' + '<a href="#' + this.id + '" data-wizard="next" role="button">Siguiente</a>' + '<a href="#' + this.id + '" data-wizard="finish" role="button" onclick="saveRequerimiento()">Finalizar</a>' + '</li>' + '</ul></div>';
            }
        },
        onBeforeShow: function(step) {
            step.$pane.collapse('show');
        },
        onBeforeHide: function(step) {
            step.$pane.collapse('hide');
        }
    });

    function showModal(idElement){
        $('#'+idElement).modal('show');
    }

    $('#modal-pregunta').on('hide.bs.modal', function () {

        if(editandoPregunta === 1){
            swal({
                    title: "¿Seguro que desea salir?",
                    text: "Si sale de la carga de la pregunta se perderán los cambios realizados",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Salir",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function(isConfirm) {
                    if (isConfirm) {
                        $('#pregunta-modal').val('');
                        $("#remainingC").html($('#pregunta-modal').val().length + " caracteres utilizados de 500");
                        editandoPregunta = 0;
                    } else {
                        /* $('#modal-pregunta').on('shown.bs.modal', function () {

                            $("#remainingC").html($('#pregunta-modal').val().length + " caracteres utilizados de 500");
                            $('#pregunta-modal').focus();
                         });*/
                    }
                });

            return;
        }

    })

    $('#modal-pregunta').on('shown.bs.modal', function () {
        editandoPregunta = 1;
        $("#remainingC").html($('#pregunta-modal').val().length + " caracteres utilizados de 500");
        $('#pregunta-modal').focus();
    })

    $('#pregunta-modal').keypress(function(){
        if(this.value.length+1 > 500){
            return false;
        }
        $("#remainingC").html($('#pregunta-modal').val().length+1 + " caracteres utilizados de 500");
    });

    $('#pregunta-modal').keyup(
        function(e){
            $("#remainingC").html($('#pregunta-modal').val().length + " caracteres utilizados de 500");
        }
    )



    $('#pregunta-modal').on("paste",function(e) {

        var pastedData = e.originalEvent.clipboardData.getData('text');

        if(($('#pregunta-modal').val().length+pastedData.length)>500){

            swal({
                    title: "Pregunta mayor a 500 caracteres",
                    text: "Si continúa la pregunta será cortada a 500 caracteres.¿Desea continuar?.",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Continuar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function(isConfirm) {
                    if (isConfirm) {

                        var txt = $('#pregunta-modal');
                        var caretPos = txt[0].selectionStart;
                        var textAreaTxt = txt.val();
                        var txtToAdd = pastedData;
                        var newText = textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos);
                        txt.val(newText.substring(0,500));

                        setTimeout(function() {
                            $("#remainingC").html($('#pregunta-modal').val().length + " caracteres utilizados de 500");
                        }, 100);

                        return;

                    } else {
                        return;
                    }
                });

            return;

        }

    });

    function addPregunta(){
        editandoPregunta = 0;
        var pregunta = $("#pregunta-modal").val();

        if(!pregunta){
            swal("Debe ingresar al menos una pregunta.");
        }else{
            var q = null;

            q = $("#question-model").clone();
            q.attr('model', "0");
            q.attr('question', pregunta);

            $("#questions-container").append(q);
            q.show();

            if(pregunta.length>100){
                q.find(".row-question-text").html(pregunta.substring(0, 100) + ' (<a href="#" style="color: blue !important;" onClick=\'showPregunta(this);\'>Ver más</a>)');
            }else{
                q.find(".row-question-text").html(pregunta);
            }

            preguntas.push(pregunta);
            localStorage.setItem('preguntas'+userCuil, JSON.stringify(preguntas));

            $('#pregunta-modal').val('');
            $("#remainingC").html($('#pregunta-modal').val().length + " caracteres utilizados de 500");
            $("#modal-pregunta").modal('hide');
        }
    }

    function removePreguntaNueva(row){

        swal({
            title: "¿Desea eliminar la pregunta?",
            text: "Una vez eliminada no podrá recuperarse",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function(isConfirm) {
            if (isConfirm) {
                var p = $(row).parent().parent();
                p.remove();
                swal.close();
            } else {
                swal("Cancelado", "La pregunta no fue eliminado", "error");
            }
        });

        return;
    }

    function removePreguntaStorage(row){
        swal({
            title: "¿Desea eliminar la pregunta?",
            text: "Una vez eliminada no podrá recuperarse",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function(isConfirm) {
            if (isConfirm) {
                var p = $(row).parent().parent();
                //alert($(row).html());
                var text = p.attr("question");

                console.log(text);
                preguntas = JSON.parse(localStorage.getItem("preguntas"+userCuil));
                let i = 0;
                for(i;i<preguntas.length;i++){
                    if(text == preguntas[i]){
                        preguntas.splice(i, 1);
                        break;
                    }
                }

                localStorage.setItem('preguntas'+userCuil, JSON.stringify(preguntas));

                p.remove();
                swal.close();
            } else {
                swal("Cancelado", "La pregunta no fue eliminado", "error");
            }
        });

        return;
    }

    function saveRequerimiento(){
        var aPreguntas = new Array();
        var first = true;

        $('#tabla-requerimientos > tbody  > tr').each(function() {
            if(first){
                first = false;
                return;
            }
            var pregunta =  $(this).attr("question");
            aPreguntas.push(pregunta);
        });

        if(aPreguntas.length<1){

            swal({
                title: "Error!",
                text: "Debe ingresar al menos una pregunta.",
                icon: "error",
                button: "Aceptar",
            });

            return;
        }

        $("#input-introduction").val($("#txt-introduction").val());
        $("#input-diputado").val($("#sel-diputado").val());
        $("#input-bloque").val($("#sel-bloque").val());

        if($("#input-diputado").val()==-1 && $("#input-bloque").val()==-1){

            swal({
                title: "Error!",
                text: "El requerimiento debe tener un bloque o un diputado asociado!",
                icon: "error",
                button: "Aceptar",
            });

            return;
        }

        $("#input-preguntas").val(aPreguntas.join('[&][%]'));
        localStorage.clear()
        $("#frm-send").submit();
    }

</script>
    
{% endblock %}