{% extends "base.html.twig" %}

{% set titulo = "Enviar requerimientos del " %}
{% set descripcion = "Al enviar los requerimientos se generará un código QR, el cual debe ser impreso y llevado a Dirección secretaría." %}

{% block css%}{%endblock%}

{#{% block mensaje %}{% endblock %}#}

{% block content%}

    {% if estado_informe == 'cerrado' %}

    <div class="panel panel-inverse">
        <div class="panel-heading"> El informe no se encuentra abierto.
            <div class="pull-right"></div>
        </div>
        <div class="panel-wrapper collapse in" aria-expanded="true" style="">
            <div class="panel-body">
                <p>Esta opción solo se encuentra habilitada mientras el informe se encuentre abierto.</p>
            </div>
        </div>
    </div>

    {% elseif estado_informe == 'planificado' %}
    <div class="panel panel-inverse">
        <div class="panel-heading"> El informe aún no se encuentra abierto.
            <div class="pull-right"></div>
        </div>
        <div class="panel-wrapper collapse in" aria-expanded="true" style="">
            <div class="panel-body">
                <p>Esta opción solo se encuentra habilitada mientras el informe se encuentre abierto.</p>
            </div>
        </div>
    </div>
    {% elseif estado_informe == 'activo' or estado_informe == 'validando' %}

        <form method="POST" action="{{path('_enviar_req_post')}}" id="frm-enviar-req">
                <input type="hidden" value="{% if user.role == ROL_RESPONSABLE_BLOQUE %}{{user.extra.bloque.id}}{% elseif user.role == ROL_RESPONSABLE_INTERBLOQUE %}{{user.extra.interbloque.id}}{% endif %}" name="id" id="id">
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="white-box" style="padding-top:20px;">
                    <h3 class="box-title m-b-0"> {{titulo}}
                            {% if user.role == ROL_RESPONSABLE_BLOQUE %}
                                bloque
                                <strong>
                                {{user.extra.bloque.nombre}}
                                </strong>
                            {% elseif user.role == ROL_RESPONSABLE_INTERBLOQUE %}
                                interbloque
                                <strong>
                                       {{user.extra.interbloque.nombre}}
                                </strong>
                            {% endif %}
                    </h3>
                    <p class="text-mutedfont-13">{{descripcion}}</p>
                </div>
            </div>
        </div>

        {% if envioRequerimiento is defined and envioRequerimiento is null %}
            <div id="enviar-req-div" class="row">
                <div class="col-md-12">
                    <div class="white-box" style="padding-top:20px;">
                        <div id="datos-informe">

                            <div class="row">

                                <div class="col-sm-6 col-md-10" style="padding-top: 20px;">
                                    <ul>
                                        <br>
                                        <li>Cantidad de requerimientos cargados: <strong>{{ requerimientos|length }}</strong></li>
                                        <li>Cantidad de preguntas cargadas dentro de los requerimientos: <strong>{{ cantPreguntas }}</strong></li>
                                        <br>
                                    </ul>
                                </div>

                                <div class="col-md-3 col-md-offset-0">
                                    <button id="enviar-datos" {% if requerimientos|length < 1 %} disabled=true {% endif %}type="submit" class="btn btn-success" style="width: 100%;" onClick="send();">Enviar requerimientos</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if envioRequerimiento is defined and envioRequerimiento is not null %}

            <div id="qr-code-div" class="row">
                <div class="col-md-12">
                    <div class="white-box" style="padding-top:20px;">
                        <div id="qr-code-bloque">
                            <div class="row">
                                <img class="no-drag col-sm-2 col-md-2" src="{{ qr_code_data_uri(envioRequerimiento.token, { writer: 'png', size: 250 }) }}" />

                                <div class="col-sm-6 col-md-10" style="padding-top: 20px;">
                                    <ul>
                                        <li>Cantidad de requerimientos cargados: {{ requerimientos|length }}</li>
                                        <li>Cantidad de preguntas cargadas: {{ cantPreguntas }}</li>
                                    </ul>
                                    <div class="col-sm-4 col-md-10" style="padding-top: 20px;">
                                        <button type="submit" onclick="printPDF()" class="btn btn-success waves-effect waves-light">Imprimir pdf</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block js %}

<script>

    $(document).ready(function(){
        $("#dt-end").datepicker({
            orientation: 'top left',
            format: 'dd/mm/yyyy'
        });
       
        $('.clockpicker').clockpicker({
            placement: 'top',
            donetext: 'Aceptar'
        });
        
    });

    $('img').on('dragstart', function(event) { event.preventDefault(); });

    function send(){

        swal({title: "Exportando requerimientos", text: "Por favor, espere...", timer: 60000, showConfirmButton: false});
        $("#frm-enviar-req").submit();
    }

    function printPDF(){
        location.href = "{{ path('pdf_envio_requerimientos') }}";
    }

</script>
{% endblock %}