{% extends "base.html.twig" %}

{% set titulo = "Fecha de finalización del informe del interbloque " %}
{% set descripcion = "" %}

{% block css%}{%endblock%}

{#{% block mensaje %}{% endblock %}#}

{% block content%}
    <form method="POST" action="{{path('_save_fecha_fin_interbloque')}}" id="frm-fecha-fin-interbloque">
        <input type="hidden" value="" name="date-end" id="input-dt-end">
        <input type="hidden" value="" name="hr-end" id="input-hr-end">
        <input type="hidden" value="" name="interbloque-id" id="input-interbloque-id">
    </form>


    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="padding-top:20px;">
                <h3 class="box-title m-b-0">{{titulo}} "<strong>{{user.extra.interbloque.nombre}}</strong>"</h3>
                <p class="text-mutedfont-13">{{descripcion}}</p>
            </div>
        </div>
    </div>

    {% if estado_informe == 'activo' %}

        <div class="col-lg-6 col-sm-6 col-xs-6" >

            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div class="white-box">
                        {% if user.extra.bloque.cierreBloque is defined and user.extra.bloque.cierreBloque is not null %}
                            <h3 class="box-title">Fecha de cierre de interbloque elegida</h3>
                                <h4>{{ user.extra.interbloque.cierreInterbloque.fechaCierre.timestamp|date('d/m/Y H:i') }}</h4>
                            <ul class="list-inline two-part">
                                <li><i class="ti-alarm-clock text-info"></i></li>
                            </ul>
                        {% else %}
                            <h3 class="box-title">Fecha de cierre de interbloque elegida</h3>
                            <h4>No se seleccionó una fecha de cierre de interbloque. Se utilizará la fecha de cierre de informe.</h4>
                            <ul class="list-inline two-part">
                                <li><i class="ti-alarm-clock text-info"></i></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div class="white-box">
                        <h3 class="box-title">Fecha de cierre del informe</h3>
                        <h4>{{ informe.fechaFin.timestamp|date('d/m/Y H:i') }}</h4>
                        <ul class="list-inline two-part">
                            <li><i class="ti-alarm-clock text-info"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="white-box" style="padding-top:20px;">
                        <div id="datos-informe">
                            <div class="row">
                                <div class="col-md-12"><h4> Fecha de finalización de carga </h4>
                                    <div class="input-group date complex-colorpicker" id="dt-end">
                                        <input readonly autocomplete="off" type="text" class="form-control" value="{% if user.extra.interbloque.cierreInterbloque is defined and user.extra.interbloque.cierreInterbloque is not null %}{{ user.extra.interbloque.cierreInterbloque.fechaCierre.timestamp|date('d/m/Y H:i') }}{% endif %}">
                                        <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                    </div>
                                    <br/>
                                    <div class="input-group clockpicker ">
                                        <input autocomplete="off" readonly id="hr-end" type="text" class="form-control" value="{% if user.extra.interbloque.cierreInterbloque is defined and user.extra.interbloque.cierreInterbloque is not null %}{{ user.extra.interbloque.cierreInterbloque.fechaCierre.timestamp|date('H:i') }}{% endif %}">
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                                    </div>
                                    <small>Llegada esta fecha no se podrán adherir más requerimientos para su interbloque.</small>
                                    <hr>
                                    <button id="save-fecha-fin" type="submit" class="btn btn-success" style="width: 100%;" onClick="send();">Guardar fecha</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% elseif estado_informe == 'validando' %}

        <div class="panel panel-inverse">
            <div class="panel-heading"> El informe se encuentra en estado de validación.
                <div class="pull-right"></div>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                <div class="panel-body">
                    <p>Esta opción solo se encuentra habilitada mientras el informe se encuentre abierto.</p>
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}

{% block js %}

<script>
    
    var bloque_id = "{{ user.extra.interbloque.id}}";
    
    $(document).ready(function(){

        $("#dt-end").datepicker({
            orientation: 'top left',
            format: 'dd/mm/yyyy',
            endDate: '{{ informe.fechaFin.timestamp|date('d/m/Y') }}',
            autoclose: true,
            todayHighlight:true,
            startDate: new Date()
        }).datepicker("setDate",'now');

        $('.clockpicker').clockpicker({
            placement: 'top',
            default: '00:00',
            donetext: 'Aceptar'
        });

    });

    function send(){
        var dEnd = getStringDate($("#dt-end").datepicker('getDate'));
        var hEnd = $("#hr-end").val();

        var dateEndInterbloque = new Date(dEnd+' '+hEnd);
        var dateEndInforme = new Date('{{ informe.fechaFin.timestamp|date('d/m/Y H:i') }}');

        if(dEnd==""||hEnd==""){
            swal("Debe ingresar todos los campos.");
            return;
        }

        if(dateEndInterbloque > dateEndInforme){
            swal("La fecha elegida no debe ser mayor a la de finalización del informe.");
            return;
        }

        $("#input-dt-end").val(dEnd);
        $("#input-hr-end").val(hEnd);
        $("#input-bloque-id").val(bloque_id);

        $("#save-fecha-fin").attr('disabled', true);
        $("#save-fecha-fin").html("Guardando, por favor, espere...");
        swal({title: "Guardando fecha", text: "Por favor, espere...", timer: 60000, showConfirmButton: false});
        $("#frm-fecha-fin-interbloque").submit();
    }

    function getStringDate(mDate){
        if(mDate!=null&&mDate!=""){
            var day = pad(mDate.getDate());
            var month = pad(mDate.getMonth()+1);
            var year = mDate.getFullYear();
            return day + "/" + month + "/" + year;
        }
        return "";
    }

    function pad(v){
        v = v.toString();
        if(v.length==1){
            return "0" + v;
        }
        return v;
    }

</script>
{% endblock %}