{% extends 'base.html.twig' %}

{% set titulo = "" %}
{% set descripcion = "" %}

{% block content%}

    <form method="POST" action="{{path('_get_informe_info')}}" id="informe-form">

        <div class="form-group">
            <div class="panel-body col-md-3">
                <h4>Seleccione el informe que desea buscar:</h4>
                <select id="select-informe-numero" name="select-informe-numero" class="form-control" data-dropup-auto="false">
                    <option value="-1">Seleccione un informe</option>
                    {%for i in informes%}
                        <option value="{{i.numero}}">{{i.numero}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="panel-body col-md-1">
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </div>

    </form>


{% endblock %}