{% extends 'base.html.twig' %}

{% set titulo = "" %}
{% set descripcion = "" %}

{% block welcome%}
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div class="row" style="margin-top:80px">
                <div class="col-md-12" style="text-align:center">
                    <img src="{{asset('icon/7/contract.png')}}" alt="welcome"  style="width:200px"/>
                </div>
            </div>
            <div class="row"  style="margin-top:50px">
                <div class="col-md-12" style="text-align:center">
                    <h3><b>Bienvenido a infoJGM!</b></h3>
                    <h4>Éste sistema le permite realizar preguntas al Jefe de Gabinete de Ministros</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}