{% extends "base.html.twig" %}

{% set titulo = "Informe" %}
{% set descripcion = "" %}

{% block css%}{%endblock%}

{% block content%}
    <form method="POST" action="{{path('_save_informe')}}" id="frm-informe">
        <input type="hidden" value="" name="informe" id="input-informe">
        <input type="hidden" value="" name="date-start" id="input-dt-start">
        <input type="hidden" value="" name="date-end" id="input-dt-end">
        <input type="hidden" value="" name="date-visita" id="input-dt-visita">
        <input type="hidden" value="" name="hour-start" id="input-hr-start">
        <input type="hidden" value="" name="hour-end" id="input-hr-end">
        <input type="hidden" value="0" name="type" id="input-type">
        <input type="hidden" value="" name="nota" id="input-nota">
        <input type="hidden" value="" name="nota-file" id="input-nota-file">
        <input type="hidden" value="" name="expediente" id="expediente">
    </form>

    <form method="POST" action="{{path('_delete_informe')}}" id="frm-informe-cancel">
        <input type="hidden" value="" name="id-informe-cancel" id="id-informe-cancel">
    </form>


    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="padding-top:20px;">
                <h3 class="box-title m-b-0">{{titulo}}</h3>
                <p class="text-mutedfont-13">{{descripcion}}</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
            <div class="p-t-20" style="margin-top: -30px;">
                <div id="informe-header">
                    <h4 class="m-b-20" style="margin-top: 0px; padding-top: 0px;">
                        {% if informe is not null and informe is defined  %}
                            {% if estado_informe == 'activo' %}
                                Informe N° {{ informe.numero }} - En curso
                            {% elseif estado_informe == 'planificado' %}
                                Informe N° {{ informe.numero }} - Planificado
                             {% elseif estado_informe == 'validando' %}
                                Informe N° {{ informe.numero }} - Etapa de validación de requerimientos
                            {% else %} {# Finaliza2 #}
                                Informe N° {{ informe.numero }} - Finalizado
                            {% endif %}
                        {% else %}
                            Creación de informe
                        {% endif %}
                    </h4>
                   <small style="font-size: 14px;">
                    {% if informe is not null %}
                        {% if estado_informe == 'finalizado' %}
                            <div class="alert alert-info-outline animated fadeIn" role="alert">
                                <strong></strong> El informe N° {{ informe.numero }} finalizó el {{ informe.fechaFin.timestamp|date('d/m/Y') }} a las {{ informe.fechaFin.timestamp|date('H:i') }} horas.
                            </div>
                        {% elseif estado_informe == 'planificado' %}
                            <div class="alert alert-info-outline animated fadeIn" role="alert">
                                <strong></strong> El informe N° {{ informe.numero }} ha sido planificado para el {{ informe.fechaInicio.timestamp|date('d/m/Y') }} a las  {{ informe.fechaInicio.timestamp|date('H:i') }} horas y finalizará el  {{ informe.fechaFin.timestamp|date('d/m/Y') }} a las  {{ informe.fechaFin.timestamp|date('H:i') }} horas.
                            </div>
                        {% elseif estado_informe == 'activo' %}
                            <div class="alert alert-info-outline animated fadeIn" role="alert">
                                <strong></strong> El informe N° {{ informe.numero }} se encuentra en curso. El mismo finalizará el {{ informe.fechaFin.timestamp|date('d/m/Y') }} a las  {{ informe.fechaFin.timestamp|date('H:i') }} horas.
                            </div>
                        {% endif %}
                    {% else %}
                        Seleccione las fechas entre las cuales los diputados podrán adherir sus requerimientos al informe de JGM.
                    {% endif %}
                    </small>
                    <hr>
                </div>
                <div id="datos-informe" {% if informe is not null %} style="display: none;"{% endif %}>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Número de informe</h4>
                            <input id="informe" name="informe" type="text" class="form-control" placeholder="" value="{% if informe is not null  %}{{ informe.numero + 2 }} {% endif %}" required>
                            <small>Ingrese aquí el número de informe</small>
                        </div>
                        <div class="col-md-3"><h4> Fecha de visita (opcional)</h4>
                            <div class="input-group date complex-colorpicker" id="dt-visita"><input disabled autocomplete="off" type="text" class="form-control" value="">
                            <span  class="input-group-addon"><i class="fa fa-th"></i></span></div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" id="row-nota">
                        {#<div class="col-md-3">
                            <h4>Nota (opcional)</h4>
                            <label class="btn btn-default btn-file" id="lbl-nota">
                                Clic aquí para adjuntar la nota <input autocomplete="nope" id="nota" type="file" style="display: none;">
                            </label>
                        </div>#}
                        <div class="col-md-3">
                            <h4>Expediente del informe</h4>
                            <input autocomplete="off" id="expediente-informe" name="expediente-informe" type="text" class="form-control" placeholder="" required>
                            <small>Ingrese aquí el expediente asociado al informe</small>
                        </div>
                    </div>
                    <div class="row" id="row-nota-selected" style="display: none;">
                        <div class="col-md-6">
                            <h4>Nota (opcional)</h4>
                            <div class="alert alert-primary-outline" role="alert" style="margin-top: 15px;">
                                <button type="button" class="close" aria-label="Close" onClick="clearFile()"><span
                                            aria-hidden="true">×</span> <span class="sr-only">Cerrar</span></button>
                                <strong></strong>La nota ha sido adjuntada al nuevo informe (<strong id="nota-view"></strong>)
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-3"><h4> Inicio </h4>
                            <div class="input-group date complex-colorpicker" id="dt-start"><input disabled autocomplete="nope" type="text" class="form-control" value="">
                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                            </div>
                            <br/>
                            <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                                <input  disabled id="hr-start" type="text" class="form-control" value="08:00" autocomplete="nope"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                            </div>
                            <small>Fecha a partir de la cual se podrá comenzar a adherir requerimientos</small>
                        </div>
                        <div class="col-md-3"><h4> Fin </h4>
                            <div class="input-group date complex-colorpicker" id="dt-end"><input disabled autocomplete="nope" type="text" class="form-control" value="">
                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                            </div>
                            <br/>
                            <div class="input-group clockpicker ">
                                <input  disabled autocomplete="nope" id="hr-end" type="text" class="form-control" value="18:00">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <small>Llegada esta fecha no se podrán adherir más requerimientos.</small>
                        </div>

                    </div>
                    <hr>

                    <div class="col-md-3">
                       <button id="crear-informe" type="submit" class="btn btn-success" style="width: 100%;" onClick="send();">Crear informe</button>
                    </div>

                    <div class="col-md-3">
                       <button id=cancel-crear-informe" type="button" class="btn btn-danger" style="width: 100%;" onClick="cancel();">Cancelar</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% if informe is not null %}
                            {% if estado_informe == 'activo' or estado_informe == 'planificado' or estado_informe == 'validando' %}
                                <div class="col-md-6">
                                    <button id="exportar-requerimientos-button"type="button" {% if estado_informe == 'planificado'%} disabled {% endif %} class="btn btn-success" style="width: 100%;" onClick="checkTodoValidado()";">Enviar requerimientos a Jefatura de Gabinete</button>
                                </div>
                                {#
                                <div class="col-md-4">
                                    <button type="submit" {% if estado_informe == 'planificado'%} disabled {% endif %} class="btn btn-info" style="width: 100%;" onClick="cancel();">Cerrar <br> informe</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-danger" style="width: 100%;" onClick="cancel();">Cancelar <br> informe</button>
                                </div>
                                #}
                                {#<div class="col-md-6">
                                        <button id="exportar-informe" type="submit" class="btn btn-info" style="width: 100%;" onClick="getRequerimientosExportados()">Exportar datos a JGM</button>
                                        <br>
                                        <br>
                                        <div class="row"  id="opciones-exportacion" style="display: none;">
                                            <div class="col-md-6">
                                                <button id="clear-informe" type="submit" class="btn btn-secondary" style="width: 100%;" onClick="generateExcel();">Excel</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button id="exportar-informe" type="submit" class="btn btn-secondary" style="width: 100%;" onClick="generateJson()">JSON</button>
                                            </div>
                                        </div>
                                    </div>
                                 #}
                            {% else %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <button id="clear-informe" type="submit" class="btn btn-success" style="width: 100%;" onClick="clearNew();">Crear nuevo informe</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="exportar-informe" type="submit" class="btn btn-info" style="width: 100%;" onClick="getRequerimientosExportados()">Exportar datos a JGM</button>
                                        <br>
                                        <br>
                                        <div class="row"  id="opciones-exportacion" style="display: none;">
                                            <div class="col-md-6">
                                                <button id="clear-informe" type="submit" class="btn btn-secondary" style="width: 100%;" onClick="generateExcel();">Excel</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button id="exportar-informe" type="submit" class="btn btn-secondary" style="width: 100%;" onClick="generateJson()">JSON</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

<script>
    var currentImage = "";
    var currentFileName = "";

    $(document).ready(function(){

       $("#dt-start").datepicker({
            orientation: 'top left',
            format: 'dd/mm/yyyy',
            autoclose: true,
            startDate: new Date(),
            direction: 'down'
        });
        $("#dt-end").datepicker({
            orientation: 'top left',
            format: 'dd/mm/yyyy',
            autoclose: true,
            startDate: new Date()
        });

        $("#dt-visita").datepicker({
            orientation: 'top left',
            format: 'dd/mm/yyyy',
            autoclose: true,
            startDate: new Date()
        });

        $('.clockpicker').clockpicker({
            placement: 'top',
            donetext: 'Aceptar'
        });

        $("#nota").on("change", function(evt){
            var files = evt.target.files;
            var file = files[0];

            if (files && file) {
                var reader = new FileReader();
                reader.onload = function(readerEvt) {
                    var binaryString = readerEvt.target.result;
                    var b64 = btoa(binaryString);
                    currentImage = b64;
                    currentFileName = file.name;
                    showSelected();
                };
                reader.readAsBinaryString(file);
            }
        });

    });

    function cancel(){
        $("#datos-informe").hide();
        $("#opciones-exportacion").hide();
        $("#informe-header").fadeIn();
        $("#clear-informe").fadeIn();
        $("#exportar-informe").fadeIn();
        $("#crear-informe").hide();
    }

    function clearNew(){
        $("#datos-informe").fadeIn();
        $("#informe-header").hide();
        $("#opciones-exportacion").hide();
        $("#clear-informe").hide();
        $("#exportar-informe").hide();
        $("#crear-informe").fadeIn();
    }

    function checkTodoValidado(){

        $('#exportar-requerimientos-button').attr("disabled", true);

        $.post( '{{ path('_check_todo_validado') }}',function(data){
                //console.log(data);
                //return;
            if(data.sinValidar.length>0){
                preguntarExportarRequerimientosSinValidaciones(data.sinValidar);
            }else{
                preguntarExportarRequerimientos();
            }

        });

    }

    function generateJson(){

        $.post('{{ path('_json_exportado_last') }}',function (result)
        {
            var link = document.createElement("a");
            link.download = "requerimientos.json";
            link.href = result;
            link.click();
            //console.log(result);
            return;
            //window.location.href =  result;
        });

    }

    function generateExcel(){

        $.post('{{ path('_excel_exportado_last') }}',function (result)
        {
            //console.log(result);
            //return;

            var link = document.createElement("a");
            link.download = "requerimientos.xlsx";
            link.href = result;
            link.click();
            //console.log(result);
            return;
            //window.location.href =  result;
        });


    }

    function preguntarExportarRequerimientosSinValidaciones(sinValidar){

        let textListaSinValidar = 'lista de requerimientos sin validar:\n';

        for(let i = 0; i<sinValidar.length;i++){
            textListaSinValidar = textListaSinValidar + sinValidar[i].nombre+' - '+sinValidar[i].tipo+'\n';
        }

        swal({
                title: "No todos los requerimientos fueron validados. ¿Desea exportar los requerimientos?",
                text: textListaSinValidar,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Exportar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "POST",
                        url: '{{ path("_exportar_requerimientos") }}',
                        success: function(data){
                            //console.log(data);
                            swal("Exportación exitosa", "Los requerimientos fueron exportados correctamente.", "success");
                            location.reload();
                        }

                    });

                } else {
                    swal("Cancelado", "Los requerimientos no fueron exportados.", "error");
                }
            });

        $('#exportar-requerimientos-button').attr("disabled", false);

        return;
    }

    function getRequerimientosExportados(){
        $('#opciones-exportacion').fadeIn( "slow", function() {
            // Animation complete
          });
    }

    function preguntarExportarRequerimientos(){

        swal({
                title: "¿Desea exportar los requerimientos?",
                text: "Una vez exportados se cerrará el informe.",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Exportar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "POST",
                        url: '{{ path("_exportar_requerimientos") }}',
                        success: function(){
                            swal("Exportación exitosa", "Los requerimientos fueron exportados correctamente.", "success");
                            location.reload();
                        }

                    });

                } else {
                    swal("Cancelado", "Los requerimientos no fueron exportados.", "error");
                }
            });
        $('#exportar-requerimientos-button').attr("disabled", false);
        return;

    }

    function send(){
        var dStart = getStringDate($("#dt-start").datepicker('getDate'));
        var dEnd = getStringDate($("#dt-end").datepicker('getDate'));
        var dVisita = getStringDate($("#dt-visita").datepicker('getDate'));
        var hStart = $("#hr-start").val();
        var hEnd = $("#hr-end").val();
        var informe = $("#informe").val();
        var expediente = $("#expediente-informe").val();
        
        if(dStart==""||dEnd==""||hStart==""||hEnd==""||informe==""){
            swal("Debe ingresar todos los campos.");
            return;
        }
        if($("#dt-start").datepicker('getDate')>$("#dt-end").datepicker('getDate')){
            swal("La fecha de fin debe ser mayor a la fecha de inicio");
            return;
        }
        if(dStart==dEnd){
            //swal("Las fechas de inicio y fin no pueden ser las mismas");
            //return;
        }
        if(!$.isNumeric(informe)){
            swal("El número de informe no es válido");
            return;
        }
        
        $("#input-dt-start").val(dStart);
        $("#input-dt-end").val(dEnd);
        $("#input-hr-start").val(hStart);
        $("#input-hr-end").val(hEnd);
        $("#input-informe").val(informe);
        $("#input-dt-visita").val(dVisita);
        $("#input-nota").val(currentImage);
        $("#input-nota-file").val(currentFileName);
        $("#expediente").val(expediente);
        $("#crear-informe").attr('disabled', true);
        $("#crear-informe").html("Guardando, por favor, espere...");
        swal({title: "Generando informe", text: "Por favor, espere...", timer: 60000, showConfirmButton: false});
        $("#frm-informe").submit();
    }

    function clearFile(){
        currentImage = "";
        currentFileName = "";
        $("#row-nota-selected").hide();
        $("#row-nota").show();
    }

    function showSelected(){
        $("#row-nota-selected").show();
        $("#nota-view").html(currentFileName);
        $("#row-nota").hide();
    }

    function getStringDate(mDate){
        if(mDate!=null&&mDate!=""){
            var day = pad(mDate.getDate());
            var month = pad(mDate.getMonth()+1);
            var year = mDate.getFullYear();
            return day + "/" + month + "/" + year;
        }
        return "";
    }

    function pad(v){
        v = v.toString();
        if(v.length==1){
            return "0" + v;
        }
        return v;
    }

</script>
{% endblock %}