{% extends 'base.html.twig' %}

{% set titulo = "Información general" %}
{% set descripcion = "" %}

{% block css%}
{% endblock %}

{% block content%}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="padding-top:20px;">
                <h3 class="box-title m-b-0">{{titulo}}</h3>
                <p class="text-mutedfont-13">{{descripcion}}</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="padding-top:20px;">
                <div class="card bs-card">
                    <div class="alert animated fadeIn" role="alert" style="border-color: black">
                        <h4 class="card-title m-b-20" style="color: #db0000;">Atención</h4>
                        <p class="card-text" style="">El Jefe de Gabinete de Ministros concurrirá ante el plenario de la HCDN el día 26/04/2018. </p>
                        <p class="card-text" style="font-size: 16px;">El período habilitado <b style="color: #db0000;">por su bloque</b> para la solicitud de requerimientos, informes y ampliaciones que usted considere oportunos <res style="color: #db0000;"><b>finaliza el 14/06/2018 a las 18:00 horas</b></res>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}