{% extends 'base.html.twig' %}

{% set titulo = "Lista de requerimientos" %}
{% set descripcion = "Requerimientos cargados para el informe " %}


{% block css %}

    <style>
        .collapse-row.collapsed + tr {
            display: none;
        }
    </style>

{% endblock%}

{% block content%}


    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="padding-top:20px;">
                <h3 class="box-title m-b-0">{{titulo}}</h3>
                <p class="text-mutedfont-13">{{descripcion}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table id="example23" class="display nowrap dataTable" cellspacing="0" role="grid" aria-describedby="example23_info" style="table-layout:fixed; width: 98% !important; ">
                        <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="display: none; width: 5%;"></th>
                            <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 5%;"></th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 5%;">N&deg;</th>
                            {#<th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">Fecha</th>#}
                            <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 35%;">Introducci&oacute;n</th>
                            <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 10%;">N&deg; de preguntas</th>
                            <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 17%;">Diputado o Bloque</th>
                            <th class="sorting" tabindex="0" aria-controls="example23" style = "display:none;" rowspan="1" colspan="1" aria-label="" style="width: 5%;"></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            {#    <th rowspan="1" colspan="1">Name</th>
                                <th rowspan="1" colspan="1">Position</th><th rowspan="1" colspan="1">Office</th>
                                <th rowspan="1" colspan="1">Age</th><th rowspan="1" colspan="1">Start date</th><th rowspan="1" colspan="1">Salary</th>#}
                        </tr>
                        </tfoot>
                        <tbody>
                        {%for r in requerimientos%}
                        <tr role="row" class="{%if cycle(['odd', 'even'], loop.index0) == 'odd' %}odd{%else%}even{%endif%}">
                            <td style = "display: none;">
                                <div id="req-{{ r.id }}">{{ r.id }}</div>
                            </td>
                            <td class="text-center details-control">
                                <a href="#">
                                    <span class="glyphicon glyphicon-chevron-down" style="padding-left:15px; font-size:20px;" title="Ver preguntas del requerimiento"></span>
                                </a>
                            </td>
                            <td class="sorting_1 text-center">{{loop.index}}</td>
                            {#<td>{{r.fecha}}</td>#}
                            <td>

                                {% if r.introduccion|length > 60 %}
                                    <b>{{r.introduccion|slice(0,60) ~ ' ... ' }}</b>
                                    <a href="#" onclick="verDetalleRequerimiento({{ r.id }})" class="show_hide" data-content="toggle-text"> Ver más</a>
                                {% else %}
                                    <div><b>{{r.introduccion}}</b></div>
                                {% endif %}

                            </td>
                            <td>{{r.preguntas|length}}</td>
                            <td>{%if r.diputado is defined and r.diputado is not null%}
                                    {{r.diputado.apellido}}, {{r.diputado.nombre}}
                                {%else%}
                                    {{ r.bloque.nombre }}
                                {% endif %}
                            </td>

                            <td id="preguntas-req-{{ r.id }}" style = "display: none;">

                                <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px; width:100%;" >
                                    {% for pregunta in r.preguntas %}
                                        <tr>
                                            <td style="width: 5%"></td>
                                            <td class="text-center" style="width: 5%">{#{{ loop.index }}#}</td>

                                            {% if pregunta.texto|length > 80 %}
                                                <td style="width: 80%">
                                                    {{pregunta.texto|slice(0,80) ~ ' ... ' }}
                                                    <a href="#" onclick="verDetallePregunta({{ pregunta.id }})" class="show_hide" data-content="toggle-text"> Ver más</a>
                                                </td>
                                            {% else %}
                                                <td style="width: 80%"> {{pregunta.texto}}</td>
                                            {% endif %}
                                            {% if estado_informe == 'validando' %}
                                                <td style="width: 10%">
                                                    <a href="#" onclick="">
                                                        {#<span class="glyphicon glyphicon-ban-circle" style="padding-left:15px; font-size:20px;" title="No se pueden modificar preguntas en etapa de validación"></span>#}
                                                    </a>

                                                </td>

                                            {% else %}
                                                <td style="width: 10%">
                                                    <a href="#" onclick="editarPregunta({{ pregunta.id }})">
                                                        <span class="glyphicon glyphicon-pencil" style="padding-left:15px; font-size:20px;" title="Editar pregunta"></span>
                                                    </a>

                                                    {% if r.preguntas|length > 1 %}
                                                        <a href="#" onclick="eliminarPregunta('{{pregunta.id}}')">
                                                            <span class="glyphicon glyphicon-remove" style="padding-left:15px; font-size:20px;" title="Eliminar pregunta"></span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}
                                    {% if estado_informe != 'validando' %}
                                        <tr>
                                            <td></td>
                                            <td><a href="#" onclick="addPregunta('{{r.id}}')">
                                                    <span class="glyphicon glyphicon-plus" style="padding-left:15px; font-size:20px;" title="Agregar pregunta al requerimiento"></span> Agregar pregunta al requerimiento</a></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                </table>

                            </td>

                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <!-- Footable -->
    <script src="{{asset('plugins/bower_components/footable/js/footable.all.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/bootstrap-select/bootstrap-select.min.js')}}" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{{asset('js/footable-init.js')}}"></script>
    <script>

        var avoidCollapse = false;
        var lastEdit= -1;
        var lastIntroEdit = -1;

        function resetModal(){

            $("#selected-id").val("");
            $("#select-interbloque").val(-1);
            $('#txt-modif-introduccion').val("");
            $("#select-bloque").val(-1);
            $("#select-diputado").val();
        }

        function showModalEditRequerimiento(){

            $('#responsive-modal').modal({backdrop: 'static', keyboard: false});
        }

        function showModalAddPregunta(){
            $('#modal-pregunta-add').modal({backdrop: 'static', keyboard: false});
        }

        function showModalEditPregunta(){

            $('#modal-pregunta-modif').modal({backdrop: 'static', keyboard: false})
        }

        $(document).ready(function(){


            $('#txt-pregunta-modif-modal').keypress(function(){
                if(this.value.length+1 > 500){
                    return false;
                }
                $("#remainingC-modif-modal").html($('#txt-pregunta-modif-modal').val().length+1 + " caracteres utilizados de 500");
            });

            $('#txt-pregunta-modif-modal').keyup(
                function(e){
                    $("#remainingC-modif-modal").html($('#txt-pregunta-modif-modal').val().length + " caracteres utilizados de 500");
                }
            )



            $('#txt-pregunta-modif-modal').on("paste",function(e) {

                var pastedData = e.originalEvent.clipboardData.getData('text');

                if(($('#txt-pregunta-modif-modal').val().length+pastedData.length)>500){

                    swal({
                            title: "Pregunta mayor a 500 caracteres",
                            text: "Si continúa la pregunta será cortada a 500 caracteres.¿Desea continuar?.",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "Continuar",
                            cancelButtonText: "Cancelar",
                            closeOnConfirm: true,
                            closeOnCancel: true
                        },
                        function(isConfirm) {
                            if (isConfirm) {

                                var txt = $('#txt-pregunta-modif-modal');
                                var caretPos = txt[0].selectionStart;
                                var textAreaTxt = txt.val();
                                var txtToAdd = pastedData;
                                var newText = textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos);
                                txt.val(newText.substring(0,500));

                                setTimeout(function() {
                                    $("#remainingC-modif-modal").html($('#txt-pregunta-modif-modal').val().length + " caracteres utilizados de 500");
                                }, 100);

                                return;

                            } else {
                                return;
                            }
                        });

                    return;

                }

            });


            $('#modal-pregunta-modif').on('hidden.bs.modal', function () {
                $('#txt-pregunta-modif-modal').val('');
                $("#remainingC-modif-modal").html($('#txt-pregunta-modif-modal').val().length+1 + " caracteres utilizados de 500");
            })

            $('#modal-pregunta-add').on('shown.bs.modal', function () {

                //$("#remainingC").html($('#pregunta-modal').val().length + " caracteres utilizados de 500");

                $("#remainingC-modal-add").html($('#txt-pregunta-add-modal').val().length + " caracteres utilizados de 500");
                //$('#txt-pregunta-modif-modal').val('');
                $('#txt-pregunta-add-modal').focus();

            });

            $('#modal-pregunta-add').on('hidden.bs.modal', function () {
                $('#txt-pregunta-add-modal').val('');
                $("#remainingC-modal-add").html($('#txt-pregunta-add-modal').val().length + " caracteres utilizados de 500");
            });

            $('#txt-pregunta-add-modal').keypress(function(){
                if(this.value.length+1 > 500){
                    return false;
                }
                $("#remainingC-modal-add").html($('#txt-pregunta-add-modal').val().length+1 + " caracteres utilizados de 500");
            });

            $('#txt-pregunta-add-modal').keyup(
                function(e){
                    $("#remainingC-modal-add").html($('#txt-pregunta-add-modal').val().length + " caracteres utilizados de 500");
                }
            )



            $('#txt-pregunta-add-modal').on("paste",function(e) {

                var pastedData = e.originalEvent.clipboardData.getData('text');

                if(($('#txt-pregunta-add-modal').val().length+pastedData.length)>500){

                    swal({
                            title: "Pregunta mayor a 500 caracteres",
                            text: "Si continúa la pregunta será cortada a 500 caracteres.¿Desea continuar?.",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "Continuar",
                            cancelButtonText: "Cancelar",
                            closeOnConfirm: true,
                            closeOnCancel: true
                        },
                        function(isConfirm) {
                            if (isConfirm) {

                                var txt = $('#txt-pregunta-add-modal');
                                var caretPos = txt[0].selectionStart;
                                var textAreaTxt = txt.val();
                                var txtToAdd = pastedData;
                                var newText = textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos);
                                txt.val(newText.substring(0,500));

                                setTimeout(function() {
                                    $("#remainingC-modal-add").html($('#txt-pregunta-add-modal').val().length + " caracteres utilizados de 500");
                                }, 100);

                                return;

                            } else {
                                return;
                            }
                        });

                    return;

                }

            });


            $('#modal-pregunta-add').on('hidden.bs.modal', function () {
                $('#txt-pregunta-add-modal').val('');
                $("#remainingC-modal-add").html($('#txt-pregunta-add-modal').val().length+1 + " caracteres utilizados de 500");
            })

            $('#example23 tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );
                var id =  parseInt(tr.children('td:first').text());

                if ( row.child.isShown() ) {
                    row.child.hide();
                    tr.removeClass('shown');
                }else {
                    row.child($('#preguntas-req-'+id).html()).show();
                    $('.preguntas-table').show();
                    $('#preguntas-req-33'+id).show();
                    tr.addClass('shown');
                }
            } );

            $('.req-pregunta').parents('div.dataTables_wrapper').first().hide();

            $("#question-text").bind('paste', function(e) {
                e.preventDefault();
                if(e.originalEvent.clipboardData){
                    var text = e.originalEvent.clipboardData.getData("text/plain");
                    while(text.indexOf("\n") >= 0){
                        text = text.replace("\n", " ");
                    }
                    while(text.indexOf("\r") >= 0){
                        text = text.replace("\r", "");
                    }
                    while(text.indexOf("  ") >= 0){
                        text = text.replace("  ", " ");
                    }

                    $("#question-text").val(text);
                    updateDigits();

                }
            });
            $("#question-text").bind('input propertychange', function(){
                updateDigits();
            });
            $("#modal-introduction").on('shown.bs.modal', function(){
                $("#txt-introduction").focus();
            });
            $(".content").hide();

        });

        $('.limit').each(function(){
            $(this).data('content', $(this).text())
            $(this).data('limit', $(this).text().substring(0, 60))
            $(this).text( $(this).data('limit'))
        })


        $('.more').click(function() {

            var $this = $(this);
            var elP = $this.siblings('p');
            var length = elP.text().length;

            if(length == 60){

                elP.text(elP.data('content'));

            }
            else {
                elP.text(elP.data('limit'));
            }

        });

        function verDetalleRequerimiento(id){

            $.post( '{{ path("get_requerimiento_by_id") }}',{ 'idRequerimiento':id },function(data){
                //console.log(data);
                $('#modal-ver-pregunta-titulo').html("Detalle de requerimiento");
                $('#modal-detalle-texto').html(data.introduccion);
                showModalDetalle();
            });

        }

        function verDetallePregunta(id){

            $.post( '{{ path("get_pregunta_by_id") }}',{ 'idPregunta':id },function(data){
                //console.log(data);
                $('#modal-ver-pregunta-titulo').html("Detalle de pregunta");
                $('#modal-detalle-texto').html(data.texto);
                showModalDetalle();
            });

        }

        function showModalDetalle(){
            $('#modal-detalle').modal({backdrop: 'static', keyboard: false});
        }

        function showMessage(message){
            avoidCollapse = true;
            swal("Responsable del requerimiento", message);
        }

        function editarRequerimiento(id){
            resetModal();
            $('#selected-id').val(id);

            $.post( '{{ path("get_requerimiento_by_id") }}',{ 'idRequerimiento':id },function(data){
                //console.log(data);
                $('#txt-modif-introduccion').val(data.introduccion);
                showModalEditRequerimiento();
            });

        }

        function updateRequerimiento(){

            var id = $('#selected-id').val();
            var introduccion =  $('#txt-modif-introduccion').val();
            var id_modif_dip = $('#sel-modif-diputado').val();
            var id_modif_bloque = $('#sel-bloque').val();


            swal({
                    title: "¿Desea actualizar el requerimiento?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Actualizar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            type: "POST",
                            url: '{{ path("update_requerimiento_by_id") }}',
                            data: {'idRequerimiento':id, 'introduccion':introduccion, idDiputado:id_modif_dip, idBloque:id_modif_bloque},
                            success: function(response){

                                swal({
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    title: "El requerimiento fue actualizado correctamente.",
                                });

                                setTimeout(function(){
                                    location.reload();
                                }, 2000);
                            }

                        });

                    } else {
                        swal("Cancelado", "El requerimiento no fue actualizado", "error");
                    }
                });

            return;

        }

        function updatePregunta(){

            var id = $('#selected-id-pregunta').val();
            var texto =  $('#txt-pregunta-modif-modal').val();

            if(!texto){
                swal("Debe ingresar al menos una pregunta.");
            }else {
                $.ajax({
                    type: "POST",
                    url: '{{ path("update_pregunta_by_id") }}',
                    data: {'idPregunta': id, 'texto': texto},
                    success: function (response) {
                        swal({
                            showCancelButton: false,
                            showConfirmButton: false,
                            title: "La pregunta fue actualizada correctamente.",
                        });
                        //swal("Actualizado", "La pregunta fue actualizada correctamente.", "success");
                        location.reload();
                    }

                });

                return;
            }

        }

        function addPreguntaCartel() {
            var id = $('#selected-id-req').val();
            var texto =  $('#txt-pregunta-add-modal').val();

            if(!texto){
                swal("Debe ingresar al menos una pregunta.");
            }else {
                $.ajax({
                    type: "POST",
                    url: '{{ path("add_pregunta_by_req_id") }}',
                    data: {'idReq': id, 'texto': texto},
                    success: function (response) {
                        //console.log(response);
                        swal({
                            showCancelButton: false,
                            showConfirmButton: false,
                            title: "La pregunta fue agregada correctamente.",
                        });

                        //swal("Agregada", "La pregunta fue agregada correctamente.", "success");
                        location.reload();
                    }

                });

                return;
            }
        }

        function eliminarRequerimiento(id){

            swal({
                    title: "¿Desea eliminar el requerimiento?",
                    text: "Una vez eliminado no podrá recuperarse",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Eliminar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            type: "POST",
                            url: '{{ path("delete_requerimiento_by_id") }}',
                            data: {'idRequerimiento':id},
                            success: function(response){
                                //console.log(id);
                                //swal("Eliminado", "El requerimiento fue eliminado correctamente.", "success");
                                swal({
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    title: "El requerimiento fue eliminado correctamente.",
                                });
                                location.reload();
                            }

                        });

                    } else {
                        swal("Cancelado", "El requerimiento no fue eliminado", "error");
                    }
                });

            return;

        }

        function verDatosUser(idReq){
            $.post( '{{ path("get_requerimiento_by_id") }}',{ 'idRequerimiento':idReq },function(data){
                //console.log(data);
                $('#modal-ver-pregunta-titulo').html("Usuario que creó el requerimiento");
                $('#modal-detalle-texto').html(data.extra.apellido+", "+data.extra.nombre+" - "+data.extra.cuil+ " - "+data.extra.contacto);
                showModalDetalle();
            });
        }

        function editarPregunta(id){
            //resetModal();
            $('#selected-id-pregunta').val(id);

            $.post( '{{ path("get_pregunta_by_id") }}',{ 'idPregunta':id },function(data){
                //console.log(data);
                $('#txt-pregunta-modif-modal').val(data.texto);
                $("#remainingC-modif-modal").html($('#txt-pregunta-modif-modal').val().length + " caracteres utilizados de 500");
                showModalEditPregunta();
            });

        }



        function eliminarPregunta(id){

            swal({
                    title: "¿Desea eliminar la pregunta?",
                    text: "Una vez eliminada no podrá recuperarse",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Eliminar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            type: "POST",
                            url: '{{ path("delete_pregunta_by_id") }}',
                            data: {'idPregunta':id},
                            success: function(response){

                                swal({
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    title: "La pregunta fue eliminada correctamente.",
                                });

                                //swal("Eliminada", "La pregunta fue eliminada correctamente.", "success");
                                location.reload();
                            }

                        });

                    } else {
                        swal("Cancelado", "La pregunta no fue eliminado", "error");
                    }
                });

            return;

        }

        function addPregunta(reqId){
            //resetModal();
            $('#selected-id-req').val(reqId);
            $('#txt-pregunta-modif-modal').val("");
            $("#remainingC").html($('#txt-pregunta-add-modal').val().length + " caracteres utilizados de 500");
            showModalAddPregunta();

        }

        function addPreguntaRequerimiento() {

        }


    </script>

    <script>

        var table =  $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                /*{
                    text: 'IMPRIMIR REQUERIMIENTOS',
                    className: 'btn-imprimir-req',
                    action: function () {
                        if(table.rows().count()>0){
                            location.href =  "";
                        }else{
                            swal({
                                showCancelButton: false,
                                showConfirmButton: true,
                                title: "La impresión solo se puede realizar si al menos hay cargado un requerimiento.",
                            });
                        }
                    }
                }*/
            ],
            "oLanguage": {

                "decimal":        "",
                "sEmptyTable ":     "No se encontró ningún requerimiento",
                "sInfo":           "Mostrando _START_ a _END_ de _TOTAL_ requerimientos",
                "sInfoEmpty":      "Mostrnado 0 a 0 de 0 requerimientos",
                "sInfoFiltered":   "(filtrados de _MAX_ total requerimientos)",
                "sInfoPostFix":    "",
                "sThousands":      ",",
                "sLengthMenu":     "Mostrar _MENU_ requerimientos",
                "sLoadingRecords": "Cargando...",
                "sProcessing":     "Procesando...",
                "sSearch":         "Búsqueda rápida:",
                "sZeroRecords":    "No se encontraron resultados para la búsqueda",
                "oPaginate": {
                    "sFirst":      "Primera",
                    "sLast":       "última",
                    "sNext":       "Siguiente",
                    "sPrevious":   "Anterior"
                },
                "oAria": {
                    "sortAscending":  ": Activar para ordenar ascendientemente",
                    "sortDescending": ": Activar para ordenar descendientemente"
                }

            }
        });




    </script>



{% endblock %}