{% extends 'base.html.twig' %}

{% set titulo = "Normativa" %}
{% set descripcion = "" %}

{% block content%}
    <div class="row">
        <div class="col-xs-12 main" id="main" style="min-height: 769px;">
            <div class="row m-b-20">
                <div class="col-xs-12">
                    <h3> Constitución de la Nación Argentina </h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 20%"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 20%; text-align: right;">Artículo 101.</td>
                                    <td><b>Artículo 101.</b> El jefe de gabinete de ministros debe concurrir al Congreso al menos una vez por mes, alternativamente a cada una de sus Cámaras, para informar de la marcha del gobierno, sin perjuicio de lo dispuesto en el artículo 71. Puede ser interpelado a los efectos del tratamiento de una moción de censura, por el voto de la mayoría absoluta de la totalidad de los miembros de cualquiera de las Cámaras, y ser removido por el voto de la mayoría absoluta de los miembros de cada una de las Cámaras.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row m-b-20">
                <div class="col-xs-12">
                    <h3> Reglamento de la Honorable Cámara de Diputados de la Nación </h3>
                    <h4>Capitulo XXII</h4>
                    <h5>De la sesión informativa del jefe de Gabinete de Ministros</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 20%"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 20%; text-align: right;">Concepto.</td>
                                    <td><b>Artículo 198.</b> Se denomina sesión informativa del jefe de Gabinete de Ministros a la sesión en que éste concurre ante el plenario de la Cámara de Diputados a efectos de cumplimentar lo dispuesto en el artículo 101 de la Constitución Nacional.</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;">Término para anticipar el temario.</td>
                                    <td><b>Artículo 199.</b> El jefe de Gabinete de Ministros con una anticipación no inferior a siete días hábiles, hará llegar a los presidentes de cada uno de los bloques políticos a través del presidente de la Cámara un escrito con los temas a exponer.</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;">Término para solicitar ampliación del temario.</td>
                                    <td><b>Artículo 200.</b> Los bloques políticos integrantes del cuerpo presentarán al jefe de Gabinete de Ministros, a través de la presidencia de la Honorable Cámara, en el término de dos días hábiles contados a partir de la recepción del temario, los requerimientos, informes y ampliaciones que consideren oportunos, todos los cuales serán evacuados en la sesión de que se trate.</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;">Concurrencia y participación de otros funcionarios.</td>
                                    <td><b>Artículo 201.</b> El jefe de Gabinete de Ministros podrá concurrir acompañado de los ministros y secretarios de Estado que considere convenientes. Estos sólo podrán hacer uso de la palabra a requerimiento del jefe de Gabinete de Ministros, previo asentimiento de la Cámara.</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;">Distribución del tiempo para el uso de la palabra.</td>
                                    <td><b>Artículo 202.</b> El jefe de Gabinete de Ministros dispondrá de una hora para exponer su informe. A continuación los bloques en su conjunto dispondrán de doscientos cuarenta minutos para solicitar aclaraciones o ampliaciones. El tiempo acordado a los distintos bloques será distribuido en proporción a la cantidad de sus integrantes, estableciéndose un mínimo de cinco minutos por bloque. El jefe de Gabinete de Ministros dispondrá de un máximo de veinte minutos para responder a cada uno de los bloques, estando facultado para solicitar, en cada caso, breves cuartos intermedios a efectos de ordenar las respuestas Cuando la naturaleza y la complejidad del asunto lo requieran, el jefe de Gabinete de Ministros podrá responder por escrito dentro de los cinco días hábiles posteriores a la sesión. El tiempo no invertido en un turno por quien haga uso de la palabra, de conformidad con lo establecido en este reglamento, no importará ampliación de los tiempos acordados a los restantes oradores. Los plazos antes mencionados sólo podrán prorrogarse una vez, por un máximo de cinco minutos, por resolución de la Cámara.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}