{% extends 'base.html.twig' %}

{% set titulo = "Normativa" %}
{% set descripcion = "" %}

{% block content%}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="padding-top:20px;">
                <h3 class="box-title m-b-0">Manejo de usuarios</h3>
                <p class="text-mutedfont-13"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"></div>
                <div class="table-responsive">
                    <table class="table table-hover manage-u-table">
                        <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 25%">APELLIDO Y NOMBRE</th>
                            <th style="width: 20%">CUIL</th>
                            <th style="width: 20%">ROL</th>
                            <th style="width: 25%">ASOCIACI&Oacute;N</th>
                            <th style="width: 5%">EDITAR</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for extra in extras %}
                                <tr>
                                    <td>
                                        <span class="text-muted">{{ loop.index }}</span>
                                    </td>
                                    <td id="{{ extra.id }}">
                                        <span class="text-muted">{{ extra.apellido }}, {{ extra.nombre }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{ extra.cuil }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{% if extra.rol is defined and extra.rol is not null %}{{ extra.rol }}{% else %}-{% endif %}</span>
                                    </td>
                                    <td>
                                        {% if  extra.asociacion is defined and extra.asociacion is not null %} {{ extra.asociacion }} {% else %} Sin asociación {% endif %}
                                    </td>
                                    <td style="display: none;">
                                        <span id="data-relacion-bloque-{{extra.id}}" data='{% if extra.bloque is defined and extra.bloque is not null %}{{ extra.bloque.id }}"{% else %}-1{% endif %}'></span>
                                        <span id="data-relacion-diputado-{{extra.id}}" data='{% if extra.diputado is defined and extra.diputado is not null %}{{ extra.diputado.id }}"{% else %}-1{% endif %}'></span>
                                        <span id="data-relacion-interbloque-{{extra.id}}" data='{% if extra.interbloque is defined and extra.interbloque is not null %}{{ extra.interbloque.id }}"{% else %}-1{% endif %}'></span>
                                        <span id="data-relacion-rol-{{extra.id}}" data='{% if extra.rol is defined and extra.rol is not null %}{{ extra.rol }}{% else %}-1{% endif %}'></span>
                                    </td>
                                    <td>
                                        <button type="button" {% if extra.rol == "diputado" or extra.rol == "admin"  or extra.rol == "direccion_secretaria" or extra.rol is null  %} disabled {% endif %}onclick="openModifModal('{{ extra.id }}')" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modificar usuario</h4>
                </div>
                <form data-toggle="validator" method="post" action="{{path('edit_extra')}}">
                    <div class="modal-body">
                            <div id="div-select-dip" class="form-group">
                                <label>Diputado</label>
                                <select id="select-diputado" class="form-control">
                                    <option value="-1">Sin relación</option>
                                    {% for diputado in diputados %}
                                        <option value="{{ diputado.id }}">{{ diputado.apellido }}, {{ diputado.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="div-select-bloque" class="form-group">
                                <label>Bloque</label>
                                <select id="select-bloque" class="form-control">
                                    <option value="-1">Sin relación</option>
                                    {% for bloque in bloques %}
                                        <option value="{{ bloque.bloque.id }}">{{ bloque.bloque.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="div-select-interbloque" class="form-group">
                                <label>Interbloque</label>
                                <select id="select-interbloque" class="form-control">
                                    <option value="-1">Sin relación</option>
                                    {% for interbloque in interbloques %}
                                        <option value="{{ interbloque.id }}">{{ interbloque.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    </div>

                    <input id="diputado_id" name="diputado_id" type="text" value="-1" style="display:none">
                    <input id="interbloque_id" name="interbloque_id" type="text" value="-1" style="display:none">
                    <input id="bloque_id" name="bloque_id" type="text" value="-1" style="display:none">
                    <input id="extra_id" name="extra_id" type="text" value="-1" style="display:none">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light">modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    {% endblock %}{% block js%}
    <script>

        function clearModal() {
            $('#select-interbloque').val(-1);
            $('#select-bloque').val(-1);
            $('#select-diputado').val(-1);
            $('#diputado_id').val(-1);    
            $('#bloque_id').val(-1);
            $('#interbloque_id').val(-1);
            $('#extra_id').val(-1);

            $('#div-select-dip').show();
            $('#div-select-bloque').show();
            $('#div-select-interbloque').show();
        }

        function prepareModal(rol){

            switch (rol){
                case "admin":
                    console.log("admin")
                    break;
                case "asesor":
                    $('#div-select-bloque').hide();
                    $('#div-select-interbloque').hide();
                    break;
                case "diputado":
                    console.log("diputado")
                    break;
                case "responsable_bloque":
                    $('#div-select-dip').hide();
                    $('#div-select-interbloque').hide();
                    break;
                case "personal_parlamentario":
                    $('#div-select-dip').hide();
                    $('#div-select-interbloque').hide();
                    break;
                case "responsable_interbloque":
                    $('#div-select-dip').hide();
                    $('#div-select-bloque').hide();
                    break;
                case "direccion_secretaria":
                    console.log("direccion_secretaria")
                    break;
                default:
                    break;
            }

        }

        function openModifModal(id){
            console.log(id);
            clearModal();
            $('#extra_id').val(id);
            var rol = $('#data-relacion-rol-'+id).attr('data');
            prepareModal(rol);

            $("#responsive-modal").modal('show');
        }

        $( "#select-diputado" ).change(function() {
            $('#select-bloque').val(-1);
            $('#bloque_id').val(-1);
            $('#diputado_id').val($( "#select-diputado" ).val());

            console.log("Input interbloque:"+ $('#interbloque_id').val());
            console.log("Input bloque:"+ $('#bloque_id').val());
            console.log("Input diputado:"+ $('#diputado_id').val());
            console.log("Input extra:"+ $('#extra_id').val());

        });

        $( "#select-bloque" ).change(function() {
            $('#select-diputado').val(-1);
            $('#diputado_id').val(-1);
            $('#bloque_id').val($( "#select-bloque" ).val());

            console.log("Input interbloque:"+ $('#interbloque_id').val());
            console.log("Input bloque:"+ $('#bloque_id').val());
            console.log("Input diputado:"+ $('#diputado_id').val());
            console.log("Input extra:"+ $('#extra_id').val());
        });

        $( "#select-interbloque" ).change(function() {
            $('#select-diputado').val(-1);
            $('#diputado_id').val(-1);
            $('#select-bloque').val(-1);
            $('#bloque_id').val(-1);
            $('#interbloque_id').val($( "#select-interbloque" ).val());
        });

    </script>
{% endblock %}