<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
       body{
            height: 50px;
            overflow:hidden;
            margin:0;
            padding:0;
       }

       .print-row {
           text-align: center;
           width: 100%;
           margin-bottom: 0px;
       }

       h1 {
           padding: 0px;
           margin: 0px;
       }

       h2 {
           padding: 0px;
           margin: 0px;
           font-size: 20px;
           font-weight: bold;
       }

       h3 {
           padding: 0px;
           margin: 0px;
       }

       h4 {
           padding: 0px;
           margin: 0px;
       }

       .observaciones p {
           font-size: 10px;
       }

    </style>
</head>
<body>


<div class="row print-row" style="padding-top: 25px">
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_med_blanco.png') }}" height="80" /><br />

    <hr>

    {% if user.role == ROL_DIPUTADO or user.role == ROL_ASESOR %}
        <h2><b>Requerimientos del diputado {{ user.extra.diputado.apellido }}, {{ user.extra.diputado.nombre }}</b></h2>
    {% elseif user.role == ROL_PERSONAL_PARLAMENTARIO or user.role == ROL_RESPONSABLE_BLOQUE %}
        <h2><b>Requerimientos del bloque {{ user.extra.bloque.nombre}}</b></h2>
        {% if informe is defined and informe is not null %}
            <h3>
                Informe n° {{ informe.numero }}
            </h3>
        {% endif %}
    {% elseif user.role == ROL_DIRECCION_SECRETARIA %}
        <h2><b>Requerimientos de {{ impresion_nombre }}</b></h2>
    {% else %}
        <h2><b>Requerimientos del interbloque {{ user.extra.interbloque.nombre }}</b></h2>
        {% if informe is defined and informe is not null %}
            <h3>
                Informe n° {{ informe.numero }}
            </h3>
        {% endif %}
    {% endif %}

    <hr>

</div>

</body>
</html>

