{% extends 'base_impresion.html.twig' %}

{% block css %}
    <style>
        body {

        }

        .img-qr {
            float: left;
        }

        ul {
            list-style-position: inside;
            padding-top: 30px;
        }

        hr {
            border-color: #CCCCCC;
        }
        .print-row {
            text-align: center;
            width: 100%;
            margin-bottom: 0px;
        }

        h1 {
            padding: 0px;
            margin: 0px;
        }

        h2 {
            padding: 0px;
            margin: 0px;
        }

        h3 {
            padding: 0px;
            margin: 0px;
        }

        h4 {
            padding: 0px;
            margin: 0px;
        }

        .observaciones p {
            font-size: 15px;
        }

    </style>

{% endblock %}
{% block titulo %}Envio de requerimientos{% endblock %}
{% block content %}

    <div class="row">

        <img class="img-qr" src="{{ qr_code_data_uri(envioRequerimiento.token, { writer: 'png', size: 250 }) }}" />

        <ul style="margin-left: 250px !important; font-size: 16px !important; ">
            <li>Cantidad de requerimientos: {{ requerimientos|length }}</li>
            <li>Cantidad de preguntas realizadas: {{ cantPreguntas }}</li>
        </ul>

    </div>

    <hr>

    <div class="row">

        <div id="texto-presentacion"  style="font-size: 16px !important; padding-left: 25px; padding-right: 25px; padding-right: 30px;" >
            <p>Los requerimientos grabados deberán ser validados para su envío a la Jefatura de Gabinete en la Mesa de Entradas de la Dirección Secretaría,
                ubicada en la oficina 230 del Palacio</p>
        </div>
        <div id="firma" style="font-size: 16px !important; padding: 50px;">

            {% if user.role == ROL_RESPONSABLE_BLOQUE %}
                Firma del responsable de bloque {{ user.extra.bloque.nombre}}: ______________________
            {% elseif user.role == ROL_RESPONSABLE_INTERBLOQUE %}
                Firma del responsable de interbloque {{ user.extra.interbloque.nombre }}: ______________________
            {% else %}
                Rol no autorizado
            {% endif %}

        </div>

    </div>

{% endblock %}