{% extends 'base_impresion.html.twig' %}

{% block css %}
    <style>

        body{
            margin:0;
            color: black;
        }

        ul {
            list-style-position: inside;
            padding-top: 5px;
            font-size: 12px;
        }

        .avoid {
            page-break-inside: avoid !important;
            page-break-after:auto;
            margin: 4px 0 4px 0;
        }

        hr {
            border-color: #CCCCCC;
        }

        h1 {
            padding: 0px;
            margin: 0px;
        }

        h2 {
            padding: 0px;
            margin: 0px;
            font-size: 20px;
            font-weight: bold;
        }

        h3 {
            padding: 0px;
            margin: 0px;
        }

        h4 {
            padding: 0px;
            margin: 0px;
        }

        .observaciones p {
            font-size: 10px;
            max-width:160em;
        }

    </style>

{% endblock %}

{% block titulo %}Lista de requerimientos{% endblock %}


{% block content %}

    {% for r in requerimientos %}

        <div class="avoid">
            <hr>
            <strong>Requerimiento número {{ loop.index }}:</strong>

            <br>

            <ul>
                {% if r.introduccion|length > 0 %}
                    <p style="font-size: 13px; max-width: 160em; word-wrap:break-word;">
                        {{ r.introduccion }}
                    </p>
                {% endif %}
                <ul>
                    {% for p in r.preguntas %}
                        <li> <p style=" max-width: 160em; word-wrap:break-word;">{{ p.texto }}</p></li>
                    {% endfor %}
                </ul>
            </ul>

        </div>

    {% endfor %}

{% endblock %}


