{% extends 'base_impresion.html.twig' %}

{% block css %}

{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table color-bordered-table info-bordered-table">
            <thead>
            <tr>
                <th>N&deg; de requerimiento</th>
                <th>N&deg; de preguntas</th>
                <th>Bloque o diputado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}