{% extends 'base.html.twig' %}

{% set titulo = "Lista de requerimientos" %}
{% set descripcion = "Requerimientos cargados para el informe " %} 


{% block css %}

    <style>
        .collapse-row.collapsed + tr {
          display: none;
        }

        table.dataTable thead th,
        table.dataTable tfoot th {
            text-align: left;
        }
        table.dataTable thead th,
        table.dataTable thead td {
            padding: 10px 18px 10px 5px;
        }
        table.dataTable tbody th,
        table.dataTable tbody td {
            padding: 10px 18px 10px 5px;
        }

    </style>
{% endblock%}

{% block content%}
    
    {% if informe is defined and informe is null %}
        
        <div class="panel panel-inverse">
            <div class="panel-heading"> El informe no se encuentra abierto.
                <div class="pull-right"></div>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                <div class="panel-body">
                    <p>Esta opción solo se encuentra habilitada mientras el informe se encuentre abierto.</p>
                </div>
            </div>
        </div>
        
    {% elseif informe is defined and informe is not null %}
        <div class="row">
            <div class="col-md-12">
                <div class="white-box" style="padding-top:20px;">
                        <h3 class="box-title m-b-0">{{titulo}}</h3>
                        <p class="text-mutedfont-13">{{descripcion}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table id="example23" class="display nowrap dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 50px; display: none;"></th>
                                    {#<th class="sorting_asc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 50px;">N&deg;</th>#}
                                    {#<th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">Fecha</th>#}
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 50px;">Bloque/Interbloque</th>
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 25px;">Introducciones</th>
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 25px;">Requerimientos</th>
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 25px;">Enviado</th>
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 25px;">Validado</th>
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 100px;">Código de validación</th>{#
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 100px;">N° de expediente</th>
                                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 10px;"></th>#}
                                    <th class="no sort" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 50px;">Imprimir</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                {#    <th rowspan="1" colspan="1">Name</th>
                                    <th rowspan="1" colspan="1">Position</th><th rowspan="1" colspan="1">Office</th>
                                    <th rowspan="1" colspan="1">Age</th><th rowspan="1" colspan="1">Start date</th><th rowspan="1" colspan="1">Salary</th>#}
                                </tr>
                            </tfoot>
                            <tbody>
                                {%for v in validacion%}
                                    <tr role="row" class="{%if cycle(['odd', 'even'], loop.index0) == 'odd' %}odd{%else%}even{%endif%}">
                                        <td style = "display: none;">

                                        </td>
                                        <td>
                                            {{ v.nombre }} <b>[{{ v.tipo }}]</b>
                                        </td>
                                        <td class="text-left details-control">

                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                {{ v.envio_req.requerimientos|length }}
                                            {% else %}
                                                {{ v.cantReq }}
                                            {% endif %}

                                        </td>
                                        <td class="text-left details-control">

                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                {{ v.cantPreg}}
                                            {% else %}
                                                {{ v.cantPreg }}
                                            {% endif %}

                                        </td>
                                        <td class="text-left details-control" >

                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-ok" style="padding-left:15px; color:green !important;  font-size:20px;"></span>
                                                </a>
                                            {% else %}
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-remove" style="padding-left:15px; color:red !important; font-size:20px;"></span>
                                                </a>
                                            {% endif %}

                                        </td>
                                        <td class="text-left">

                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                {% if v.envio_req.validado == false %}
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-remove" style="padding-left:15px; color:red !important;  font-size:20px;"></span>
                                                    </a>
                                                {% else %}
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-ok" style="padding-left:15px; color:green !important; font-size:20px;"></span>
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-remove" style="padding-left:15px; color:red !important; font-size:20px;"></span>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="text-left">
                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                {% if v.envio_req.validado == false %}
                                                    <a href="#">
                                                        <input maxlength="8" type="text" data-maxlength="10" class="qr-validator text-center" id="qr-input-{{ v.id }}-{{ v.tipo }}" name="qr-code" data-input-tipo="{{ v.tipo }}" data-input-id="{{ v.id }}">
                                                    </a>
                                                {% else %}
                                                    <a href="#">
                                                        <input type="text" value="{{ v.envio_req.token }}" class="text-center" data-maxlength="10" disabled="disabled" id="qr-input-{{ v.id }}-{{ v.tipo }}" name="qr-code" data-input-tipo="{{ v.tipo }}" data-input-id="{{ v.id }}">
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a>
                                                    <p>Requerimientos aun no enviados</p>
                                                </a>
                                            {% endif %}
                                        </td>
                                        {#<td class="text-left">
                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                {% if v.envio_req.validado == false %}
                                                    <a>
                                                        <p>Requerimientos aun no validados</p>
                                                    </a>
                                                {% else %}
                                                    <a href="#">
                                                        <input type="text" value="{% if v.envio_req.expediente is not null %} {{ v.envio_req.expediente }} {% endif %}" class="expediente-validator text-center" data-maxlength="10" {% if v.envio_req.expediente is not null %} disabled="disabled" {% endif %} id="expediente-input-{{ v.id }}-{{ v.tipo }}" name="expediente-input" data-input-tipo="{{ v.tipo }}" data-input-id="{{ v.envio_req.id }}">
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a>
                                                    <p>Requerimientos aun no validados</p>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="text-left">


                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                {% if v.envio_req.validado == false %}
                                                    <button type="button" disabled onclick="enviarExpediente({{ v.id }},'{{ v.tipo }}','{{ v.envio_req.id }}')" class="btn btn-success">
                                                        <span class="glyphicon glyphicon-ok" style="font-size:20px;"></span>
                                                    </button>
                                                {% else %}
                                                    {% if v.envio_req.expediente is null %}
                                                        <button type="button" onclick="enviarExpediente({{ v.id }},'{{ v.tipo }}','{{ v.envio_req.id }}')" class="btn btn-success">
                                                            <span class="glyphicon glyphicon-ok" style="font-size:20px;"></span>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" disabled onclick="enviarExpediente({{ v.id }},'{{ v.tipo }}','{{ v.envio_req.id }}')" class="btn btn-success">
                                                            <span class="glyphicon glyphicon-ok" style="font-size:20px;"></span>
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <button type="button" disabled onclick="enviarExpediente({{ v.id }},'{{ v.tipo }}','{{ v.envio_req.id }}')" class="btn btn-success">
                                                    <span class="glyphicon glyphicon-ok" style="font-size:20px;"></span>
                                                </button>
                                            {% endif %}

                                        </td>#}
                                        <td class="text-left">
                                            {% if v.envio_req is defined and v.envio_req is not null %}
                                                {% if v.envio_req.validado == false %}
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-print" style="padding-left:15px; color:grey !important;  font-size:20px;"></span>
                                                    </a>
                                                {% else %}
                                                    <form action="{{ path('pdf_requerimientos_secretaria',{'id': v.id, 'tipoImpresion': v.tipo} )}}" method="post">
                                                        <button type="submit" class="btn btn-success">
                                                            <span class="glyphicon glyphicon-print" style="font-size:20px;"></span>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            {% else %}
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-remove" style="padding-left:15px; color:grey !important; font-size:20px;"></span>
                                                </a>
                                            {% endif %}
                                        </td>

                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}

    </div>

    <!-- MODALS -->
    <div id="modal-req-valiadr-qr" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <input type="hidden" id="selected-id-row" name="selected-id-row" value="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Validar requerimientos</h4>
                </div>
                <div class="modal-body">
                    <h5>Introduzca el codigo escaneado:</h5>
                    <input id="txt-codigo-qr" style="resize: vertical;" class="form-control" name="txt-codigo-qr">
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                    <button id="button-guardar" type="button" class="btn btn-success waves-effect waves-light" onclick="enviarCodigoQR()">Validar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    
    <!-- Footable -->
    <script src="{{asset('plugins/bower_components/footable/js/footable.all.min.js')}}"></script>
    <script src="{{asset('plugins/bower_components/bootstrap-select/bootstrap-select.min.js')}}" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{{asset('js/footable-init.js')}}"></script>
    <script>

    function resetModal(){

        $("#selected-id").val("");
        $("#select-interbloque").val(-1);
        $('#txt-modif-introduccion').val("");
        $("#select-bloque").val(-1);
        $("#select-diputado").val();
    }

    function showModalEditRequerimiento(){

        $('#responsive-modal').modal({backdrop: 'static', keyboard: false});
    }

    function showModalEditPregunta(){

        $('#modal-pregunta-modif').modal({backdrop: 'static', keyboard: false})
    }

    $(document).ready(function(){

        $('.qr-validator').keyup(function(){

            var data = $(this).data();
            var id = data.inputId;
            var tipo = data.inputTipo;
            var qr_text = $(this).val();

            if($(this).val().length==8){

                swal({
                        title: "¿Desea validar los requerimientos con el código "+qr_text+"?",
                        text: "",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Validar",
                        cancelButtonText: "Cancelar",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {

                            $.ajax({
                                type: "POST",
                                url: '{{ path("_validar_requerimientos_post") }}',
                                data: {'qr_code':qr_text, 'tipo':tipo},
                                success: function(response){

                                    console.log(response);

                                    if(response.success == false){
                                        swal({
                                            title:"Ocurrió un error",
                                            text:"Por favor actualice la página e intente nuevamente.",
                                            showConfirmButton: false
                                        });
                                        location.reload();
                                    }else{
                                        //swal("Validado", response.mensaje, "success");
                                        swal({
                                            title:"validando",
                                            text:"Por favor espere",
                                            showConfirmButton: false
                                        });
                                        location.reload();
                                    }
                                }

                            });

                        } else {
                            swal("Cancelado", "Los requerimientos no fueron validados", "error");
                        }
                    });

            }

            if(this.value.length > 8){
                return false;
            }

        });

        /*$('.expediente-validator').keyup(function(){

            var data = $(this).data();
            var id = data.inputId;
            var tipo = data.inputTipo;
            var expediente_numero = $(this).val();
            var date = new Date();
            var anioActual = date.getFullYear();
            var expediente_full = expediente_numero+'-D-'+anioActual;

            //console.log(id);
            //return;
            if($(this).val().length==5){

                swal({
                        title: "¿Desea agregar el número de expediente "+expediente_full+"?",
                        text: "No podrá ser modificado en un futuro.",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Guardar",
                        cancelButtonText: "Cancelar",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {

                            $.ajax({
                                type: "POST",
                                url: '{{ path("_add_expediente_to_envio_req") }}',
                                data: {'expediente_text':expediente_full, 'tipo':tipo,'id_envio_requerimiento':id},
                                success: function(response){

                                    console.log(response);

                                    if(response.success == false){
                                        swal("Error", response.mensaje, "error");
                                        //location.reload();
                                    }else{
                                        swal("Guardado", response.mensaje, "success");
                                        location.reload();
                                    }
                                }

                            });

                        } else {
                            swal("Cancelado", "Los requerimientos no fueron validados", "error");
                        }
                    });

            }

            if(this.value.length > 8){
                return false;
            }

        });*/

        $('#modal-pregunta-modif').on('hidden.bs.modal', function () {
            $('#txt-pregunta-modif-modal').val('');
            $("#remainingC").html($('#txt-pregunta-modif-modal').val().length+1 + " caracteres utilizados de 500");
        })

        $('#txt-pregunta-modif-modal').keypress(function(){
            //console.log(this.value.length+1);
            if(this.value.length+1 > 500){
                return false;
            }
            $("#remainingC").html($('#txt-pregunta-modif-modal').val().length+1 + " caracteres utilizados de 500");
        });

        $('#txt-pregunta-modif-modal').keyup(
            function(e){if(e.keyCode == 8){
                $("#remainingC").html($('#txt-pregunta-modif-modal').val().length + " caracteres utilizados de 500");
            }}
        )

        $('#txt-pregunta-modif-modal').on("cut copy paste",function(e) {
            e.preventDefault();
        });

        $('#example23 tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            var id =  parseInt(tr.children('td:first').text());

        } );

        $('.req-pregunta').parents('div.dataTables_wrapper').first().hide();

        $("#modal-req-valiadr-qr").on('shown.bs.modal', function(){
            $("#txt-codigo-qr").val("");
            $("#txt-codigo-qr").focus();
        });

        //$(".content").hide();

    });
    function showModalValidarRequerimiento(id, tipo){
        console.log(id,tipo);
        //$('#modal-req-valiadr-qr').modal({backdrop: 'static', keyboard: false});
    }


    function enviarExpediente(inputId, tipoId, envioReqId){
        //console.log('#expediente-input-'+inputId+'-'+tipoId);
        var input_exp = $('#expediente-input-'+inputId+'-'+tipoId);

        //console.log(inputId, tipoId, envioReqId);
        //return;

        swal({
                title: "¿Desea agregar el número de expediente \""+input_exp.val()+"\"?",
                text: "No podrá ser modificado en un futuro.",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Guardar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "POST",
                        url: '{{ path("_add_expediente_to_envio_req") }}',
                        data: {'expediente_text':input_exp.val(), 'tipo':tipoId,'id_envio_requerimiento':envioReqId},
                        success: function(response){

          //                  console.log(response);

                            if(response.success == false){
                                swal("Error", response.mensaje, "error");
                                //location.reload();
                            }else{
                                swal("Guardado", response.mensaje, "success");
                                location.reload();
                            }
                        }

                    });

                } else {
                    swal("Cancelado", "Los requerimientos no fueron validados", "error");
                }
            });


    }

    function updateRequerimiento(){

        var id = $('#selected-id-row').val();
        var introduccion =  $('#txt-modif-introduccion').val();

        swal({
                title: "¿Desea actualizar el requerimiento?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Actualizar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "POST",
                        url: '{{ path("update_requerimiento_by_id") }}',
                        data: {'idRequerimiento':id, 'introduccion':introduccion},
                        success: function(response){
                            console.log(response);
                            swal("Actualizado", "El requerimiento fue actualizado correctamente.", "success");
                            location.reload();
                        }

                    });

                } else {
                    swal("Cancelado", "El requerimiento no fue actualizado", "error");
                }
            });

        return;

    }

    function enviarCodigoQR(){

        var id = $('#selected-id-row').val();
        var texto =  $('#txt-codigo-qr').val();

        console.log(id,texto);

        return;

        swal({
                title: "¿Desea actualizar la pregunta?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Actualizar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "POST",
                        url: '{{ path("update_pregunta_by_id") }}',
                        data: {'idPregunta':id, 'texto':texto},
                        success: function(response){
                            swal("Actualizado", "La pregunta fue actualizada correctamente.", "success");
                            location.reload();
                        }

                    });

                } else {
                    swal("Cancelado", "La pregunta no fue actualizada", "error");
                }
            });

        return;

    }
    
    function eliminarRequerimiento(id){

        swal({
                title: "¿Desea eliminar el requerimiento?",
                text: "Una vez eliminado no podrá recuperarse",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "POST",
                        url: '{{ path("delete_requerimiento_by_id") }}',
                        data: {'idRequerimiento':id},
                        success: function(response){
                            console.log(id);
                            swal("Eliminado", "El requerimiento fue eliminado correctamente.", "success");
                            location.reload();
                        }

                    });

                } else {
                    swal("Cancelado", "El requerimiento no fue eliminado", "error");
                }
            });

        return;

    }

    function verDatosUser(idReq){
        $.post( '{{ path("get_requerimiento_by_id") }}',{ 'idRequerimiento':idReq },function(data){
            //console.log(data);
            $('#modal-ver-pregunta-titulo').html("Usuario que creó el requerimiento");
            $('#modal-detalle-texto').html(data.extra.apellido+", "+data.extra.nombre+" - "+data.extra.cuil+ " - "+data.extra.contacto);
            showModalDetalle();
        });
    }

    function editarPregunta(id){
        //resetModal();
        $('#selected-id-pregunta').val(id);

        $.post( '{{ path("get_pregunta_by_id") }}',{ 'idPregunta':id },function(data){
            //console.log(data);
            $('#txt-pregunta-modif-modal').val(data.texto);
            $("#remainingC").html($('#txt-pregunta-modif-modal').val().length + " caracteres utilizados de 500");
            showModalEditPregunta();
        });

    }


    function printRequerimientos(id_seleccion, tipo){

        $.post('{{ path('pdf_requerimientos_secretaria') }}', { id: id_seleccion, tipoImpresion: tipo},
            function(data){
                location.href = data;
            });
    }

    function eliminarPregunta(id){

        swal({
                title: "¿Desea eliminar la pregunta?",
                text: "Una vez eliminada no podrá recuperarse",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "POST",
                        url: '{{ path("delete_pregunta_by_id") }}',
                        data: {'idPregunta':id},
                        success: function(response){
                            swal("Eliminada", "La pregunta fue eliminada correctamente.", "success");
                            location.reload();
                        }

                    });

                } else {
                    swal("Cancelado", "La pregunta no fue eliminado", "error");
                }
            });

        return;

    }


</script>

<script>

    var table =  $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {#{
                text: 'IMPRIMIR REQUERIMIENTOS',
                action: function () {
                    location.href =  "{{ path('pdf_requerimientos')}}";
                }
            }#}
        ],
        "oLanguage": {
            
            "decimal":        "",
            "sEmptyTable ":     "No se encontró ningún requerimiento",
            "sInfo":           "Mostrando _START_ a _END_ de _TOTAL_ de bloques/interbloques",
            "sInfoEmpty":      "Mostrnado 0 a 0 de 0 bloques/interbloques",
            "sInfoFiltered":   "(filtrados de _MAX_ total bloques/interbloques)",
            "sInfoPostFix":    "",
            "sThousands":      ",",
            "sLengthMenu":     "Mostrar _MENU_ bloques/interbloques",
            "sLoadingRecords": "Cargando...",
            "sProcessing":     "Procesando...",
            "sSearch":         "Búsqueda rápida:",
            "sZeroRecords":    "Aún no hay requerimientos para validar",
            "oPaginate": {
                "sFirst":      "Primera",
                "sLast":       "última",
                "sNext":       "Siguiente",
                "sPrevious":   "Anterior"
            },
            "oAria": {
                "sortAscending":  ": Activar para ordenar ascendientemente",
                "sortDescending": ": Activar para ordenar descendientemente"
            },
            "columnDefs": [ {
                "targets": 'no-sort',
                "orderable": false
            } ]
            
        }
    });

</script>

{% endblock %}